.cocktailsApp {
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  max-width: 1920px;
  color: #222;
  background: #f1f5f7;
  background: -webkit-gradient(linear, left top, right top, from(#f9b24e), to(#1c547c));
  background: linear-gradient(90deg, #f9b24e 0%, #1c547c 100%);
  /* 
====== 
Navbar
======
*/
  /* 
====== 
About
======
*/
  /* 
====== 
Error
======
*/
  /* 
====== 
Cocktails List 
======
*/
  /* 
====== 
Cocktail 
======
*/
  /* 
====== 
Form
======
*/
  /* 
====== 
Cocktail
======
*/
  /*--- Loader - Seciton ---*/
}

.cocktailsApp a {
  text-decoration: none;
  color: #222;
}

.cocktailsApp img {
  width: 100%;
  display: block;
}

.cocktailsApp .navbar {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  left: 0;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(249, 178, 78, 0.9)), to(rgba(28, 84, 124, 0.9)));
  background: linear-gradient(90deg, rgba(249, 178, 78, 0.9) 0%, rgba(28, 84, 124, 0.9) 100%);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  z-index: 500;
}

.cocktailsApp .nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90vw;
  margin: 0 auto;
  max-width: 1750px;
}

.cocktailsApp .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.9rem;
}

.cocktailsApp .nav-links a {
  text-transform: uppercase;
  display: inline-block;
  font-weight: 500;
  margin-left: 1rem;
  letter-spacing: 0.1rem;
  font-size: 0.7rem;
  padding: 0.1rem 0.8rem;
  border-radius: 0.25rem;
  color: #1a064b;
  border: 0.1rem solid #1a064b;
  background: transparent;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in;
  transition: color 0.3s ease-in-out, background 0.3s ease-in;
}

.cocktailsApp .nav-links a:hover {
  color: #fff;
  background: #1a064b;
}

.cocktailsApp .logo {
  width: 13rem;
}

.cocktailsApp .about-section {
  width: 85vw;
  max-width: 45rem;
  min-height: calc(100vh - 200px);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cocktailsApp .content-wrapper {
  padding: 2rem 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
  -webkit-transition: -webkit-box-shadow 0.5s ease-in;
  transition: -webkit-box-shadow 0.5s ease-in;
  transition: box-shadow 0.5s ease-in;
  transition: box-shadow 0.5s ease-in, -webkit-box-shadow 0.5s ease-in;
  position: relative;
  z-index: 1;
}

.cocktailsApp .content-wrapper h1 {
  margin-bottom: 1rem;
  text-align: left;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #445;
}

.cocktailsApp .content-wrapper p {
  line-height: 2rem;
  font-weight: 400;
  letter-spacing: 2px;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
  color: #335;
}

.cocktailsApp .content-wrapper:hover {
  -webkit-box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}

.cocktailsApp .content-wrapper:hover h1,
.cocktailsApp .content-wrapper:hover P {
  color: #1a064b;
}

.cocktailsApp .content-wrapper::before {
  position: absolute;
  content: "";
  top: 2%;
  left: 0%;
  width: 200px;
  height: 150px;
  border-radius: 32% 70% 30% 70% / 74% 10% 93% 20%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 81, 255, 0.5)), to(transparent));
  background: linear-gradient(0deg, rgba(0, 81, 255, 0.5), transparent);
  z-index: -1;
}

.cocktailsApp .content-wrapper::after {
  position: absolute;
  content: "";
  top: 10%;
  right: 2%;
  width: 300px;
  height: 250px;
  border-radius: 40% 60% 6% 94% / 51% 42% 58% 49%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 227, 51, 0.2)), color-stop(rgba(185, 24, 78, 0.5)), to(transparent));
  background: linear-gradient(180deg, rgba(240, 227, 51, 0.2), rgba(185, 24, 78, 0.5), transparent);
  z-index: -1;
}

.cocktailsApp .error-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cocktailsApp .error-container {
  text-align: center;
  text-transform: capitalize;
}

.cocktailsApp .search-section {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cocktailsApp .cocktail-title {
  display: inline-block;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 3.5rem;
  background: linear-gradient(45deg, #cc2d11 0%, #d13008 10%, #ccbf0f 15%, #ddd013 30%, #095322 31%, #075a23 50%, #750a79 53%, #750a79 65%, #083655 67%, #044a79 80%, maroon 85%, maroon 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  position: relative;
}

.cocktailsApp .cocktail-title::before {
  position: absolute;
  content: "";
  bottom: -0.35rem;
  left: 50%;
  -webkit-transform: translatex(-50%);
          transform: translatex(-50%);
  width: 40%;
  height: 0.2rem;
  background: #1a064b;
}

.cocktailsApp .section-title {
  font-size: 2rem;
  text-transform: capitalize;
  letter-spacing: 0.3rem;
  text-align: center;
  margin-bottom: 3.5rem;
}

.cocktailsApp .cocktail-section {
  min-height: 25vh;
  text-align: center;
}

.cocktailsApp .cocktails-center {
  width: 95vw;
  margin: 0 auto;
  padding: 2rem 0 8rem;
  max-width: 1750px;
  display: -ms-grid;
  display: grid;
  gap: 12rem 2rem;
  /* align-items: start; */
}

@media screen and (min-width: 800px) {
  .cocktailsApp .cocktails-center {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1150px) {
  .cocktailsApp .cocktails-center {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.cocktailsApp .cocktail {
  margin: 0 auto;
  width: 300px;
  height: 230px;
  background: #cfc994;
  background: -webkit-gradient(linear, left bottom, left top, from(#888035), color-stop(#9e9756), to(#bbb477));
  background: linear-gradient(0deg, #888035, #9e9756, #bbb477);
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  -webkit-transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: -webkit-box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out, -webkit-box-shadow 0.3s ease-in-out;
  border-radius: 54% 46% 50% 50% / 0% 2% 98% 100%;
  position: relative;
  z-index: 10;
}

.cocktailsApp .cocktail::before {
  position: absolute;
  content: "";
  top: -5%;
  right: -5%;
  width: 30px;
  height: 30px;
  border: 5px solid #135313;
  border-left-color: transparent;
  border-radius: 50%;
  background: rgba(6, 156, 6, 0.5);
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  z-index: -1;
}

.cocktailsApp .cocktail::after {
  position: absolute;
  content: "";
  top: -10%;
  left: -8%;
  width: 80px;
  height: 80px;
  border-radius: 40% 60% 6% 94% / 51% 42% 58% 49%;
  background: linear-gradient(-45deg, transparent, orange);
  z-index: -1;
}

.cocktailsApp .cocktail-stand {
  display: inline-block;
  position: absolute;
  bottom: -35.5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 32px;
  height: 80px;
  background: #888035;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
  z-index: 1;
}

.cocktailsApp .cocktail-stand::before {
  position: absolute;
  content: "";
  top: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 32px;
  height: 16px;
  background: #888035;
  z-index: -5;
}

.cocktailsApp .cocktail-stand::after {
  position: absolute;
  content: "";
  bottom: -5%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80px;
  height: 16px;
  background: #888035;
  border-radius: 1rem 1rem 0 0;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
          box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3), -1px 0 2px rgba(0, 0, 0, 0.3);
  z-index: -5;
}

.cocktailsApp .img-container {
  top: -2rem;
  left: -0.5rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: maroon;
  position: absolute;
}

.cocktailsApp .img-container img {
  width: 95%;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cocktailsApp .cocktail-footer {
  position: absolute;
  top: 12%;
  right: 0;
  padding: 1rem 2rem 2rem 1rem;
  background: rgba(255, 165, 0, 0.7);
  border-radius: 54% 46% 73% 27% / 31% 0% 100% 69%;
  z-index: 50;
}

.cocktailsApp .cocktail-footer h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #1a064b;
}

.cocktailsApp .cocktail-footer h4 {
  font-size: 0.8rem;
  margin-bottom: 0.3rem;
  color: #445;
}

.cocktailsApp .cocktail-footer p {
  font-size: 0.8rem;
  color: #1a064b;
}

.cocktailsApp .btn-details {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 0.5rem 1rem;
  border: none;
  background: #476a2e;
  color: #ddd;
  border-radius: 0.25rem;
  z-index: 50;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 400;
  -webkit-transition: background 0.3s ease-in, color 0.3s ease-in-out;
  transition: background 0.3s ease-in, color 0.3s ease-in-out;
}

.cocktailsApp .btn-details:hover {
  background: #103a69;
  color: #fff;
}

.cocktailsApp .search {
  padding-bottom: 0;
}

.cocktailsApp .search-form {
  width: 95vw;
  margin: 0 auto;
  max-width: 40rem;
  background: rgba(255, 255, 255, 0.5);
  padding: 1rem 0.5rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 2px black;
          box-shadow: 0 0 2px black;
  -webkit-transition: background 0.5s ease-in-out, -webkit-box-shadow 0.3s ease-in;
  transition: background 0.5s ease-in-out, -webkit-box-shadow 0.3s ease-in;
  transition: background 0.5s ease-in-out, box-shadow 0.3s ease-in;
  transition: background 0.5s ease-in-out, box-shadow 0.3s ease-in, -webkit-box-shadow 0.3s ease-in;
  position: relative;
  z-index: 1;
}

.cocktailsApp .search-form:hover {
  background: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6), -2px 0 5px rgba(0, 0, 0, 0.6);
          box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.6), -2px 0 5px rgba(0, 0, 0, 0.6);
}

.cocktailsApp .search-form::before {
  position: absolute;
  content: "";
  top: -10%;
  right: -3%;
  width: 200px;
  height: 150px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: linear-gradient(-45deg, rgba(112, 13, 79, 0.5), transparent);
  z-index: -1;
}

.cocktailsApp .search-form::after {
  position: absolute;
  content: "";
  top: -25%;
  left: -10%;
  width: 300px;
  height: 300px;
  border-radius: 40% 60% 6% 94% / 51% 42% 58% 49%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(6, 59, 158, 0.5)), to(orange));
  background: linear-gradient(-90deg, rgba(6, 59, 158, 0.5), orange);
  z-index: -1;
}

.cocktailsApp .form-control label {
  display: block;
  text-align: center;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.2rem;
  font-family: "bauhaus 93", sans-serif;
  text-transform: uppercase;
  background: -webkit-gradient(linear, left bottom, left top, from(#062764), to(#630356));
  background: linear-gradient(0deg, #062764, #630356);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.cocktailsApp .input-container {
  margin: 0 auto;
  width: 100%;
  max-width: 30rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f1f5f8;
  border-radius: 0.25rem;
  z-index: 100;
}

.cocktailsApp .input-container input {
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  padding: 0.5rem 0.8rem;
  border: none;
  outline: none;
  background: transparent;
  color: #1a064b;
  border-radius: 0.25rem;
  font-size: 1rem;
}

.cocktailsApp .input-container .cocktail-icon {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  font-size: 1.2rem;
  border-left: 1px solid #ddd;
  color: #1a064b;
}

.cocktailsApp .drink-section {
  min-height: 75vh;
  padding: 2rem 0;
}

.cocktailsApp .drink {
  width: 90vw;
  max-width: 1750px;
  margin: 0 auto;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  background: rgba(32, 19, 102, 0.5);
  border-radius: 0.25rem;
}

.cocktailsApp .drink-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
}

.cocktailsApp .drink-info {
  padding: 0.1rem 0.3rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  background: linear-gradient(45deg, #385791, #1d8574);
}

.cocktailsApp .drink-info:hover {
  -webkit-box-shadow: 0 0 2px #fff;
          box-shadow: 0 0 2px #fff;
}

.cocktailsApp .drink-info:hover .label-container {
  -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
}

.cocktailsApp .drink-info:hover p {
  color: #1a064b;
  background: rgba(249, 178, 78, 0.9);
}

.cocktailsApp .label-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 0 0 3px #222;
          box-shadow: 0 0 3px #222;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 0.1rem;
  -webkit-transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: -webkit-box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out;
  transition: box-shadow 0.5s ease-in-out, -webkit-box-shadow 0.5s ease-in-out;
  font-size: 0.8rem;
}

.cocktailsApp .label-container p {
  font-weight: bold;
  text-transform: capitalize;
  background: rgba(249, 178, 78, 0.7);
  padding: 0.25rem 0.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  color: #445;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in;
  transition: color 0.3s ease-in-out, background 0.3s ease-in;
}

.cocktailsApp .label-container .instruction-info {
  text-transform: initial;
}

.cocktailsApp .label-container .drink-data {
  text-transform: capitalize;
  font-weight: 500;
  background: #d4e6a5;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem 0 0 0.25rem;
  color: #476a2e;
}

.cocktailsApp .btn-back {
  margin: 0 auto;
  padding: 0.4rem 1rem;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  font-size: 1rem;
  display: inline-block;
  border-radius: 0.25rem;
  background: #476a2e;
  color: #ddd;
  border: none;
  -webkit-box-shadow: 0 0 2px #333;
          box-shadow: 0 0 2px #333;
  -webkit-transition: background 0.3s ease-in, color 0.3s ease-in-out;
  transition: background 0.3s ease-in, color 0.3s ease-in-out;
}

.cocktailsApp .btn-back:hover {
  background: #103a69;
  color: #fff;
}

.cocktailsApp .drink-img {
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(#f9b24e), color-stop(#1c547c), to(transparent));
  background: linear-gradient(0deg, transparent, #f9b24e, #1c547c, transparent);
  border-radius: 0.5rem;
}

.cocktailsApp .drink-img img {
  margin: 0 auto;
  width: 95%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.5rem;
}

@media screen and (min-width: 600px) {
  .cocktailsApp .label-container {
    font-size: 1rem;
  }
  .cocktailsApp .nav-center {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .cocktailsApp .nav-links {
    margin-top: 0;
  }
  .cocktailsApp .nav-links a {
    font-weight: 500;
    margin-left: 1rem;
    font-size: 1rem;
    padding: 0.25rem 0.8rem;
  }
}

@media screen and (min-width: 992px) {
  .cocktailsApp .logo {
    width: 15rem;
  }
  .cocktailsApp .label-container {
    font-size: 1.2rem;
  }
  .cocktailsApp .input-container input {
    -webkit-box-flex: 0.8;
        -ms-flex: 0.8;
            flex: 0.8;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
  }
  .cocktailsApp .input-container .cocktail-icon {
    -webkit-box-flex: 0.2;
        -ms-flex: 0.2;
            flex: 0.2;
    font-size: 2rem;
  }
}

.cocktailsApp .loader-container {
  margin: 1rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background: #630356;
  border: 2px solid #fff;
}

.cocktailsApp .loader-container img {
  width: 90%;
  border-radius: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=CocktailsApp.css.map */