.modalSidebarApp {
  background: #f1f5f8;
  color: #102a42;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  /*
  =============== 
  Modal
  ===============
  */
  /* OPEN/CLOSE MODAL */
  /*
  =============== 
  Sidebar
  ===============
  */
}

.modalSidebarApp h1 {
  font-size: 2rem;
}

.modalSidebarApp .sidebar-toggle {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  font-size: 2rem;
  background: transparent;
  border: none;
  outline: none;
  color: #09293e;
  cursor: pointer;
  -webkit-animation: bounce 2s ease-in-out infinite;
          animation: bounce 2s ease-in-out infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.modalSidebarApp .btn {
  text-transform: uppercase;
  color: #222;
  background: transparent;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.1rem;
  display: inline-block;
  -webkit-transition: color 0.3s ease, background 0.3s ease-in;
  transition: color 0.3s ease, background 0.3s ease-in;
  font-size: 0.875rem;
  border: 2px solid #222;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  margin: 0.5rem;
}

.modalSidebarApp .btn:hover {
  background: #222;
  color: #fff;
}

.modalSidebarApp .modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  z-index: -1;
}

.modalSidebarApp .show-modal {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  z-index: 10;
}

.modalSidebarApp .modal-container {
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 0.25rem;
  width: 90vw;
  height: 50vh;
  max-width: 620px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.modalSidebarApp .close-modal-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: #6b0c0c;
  cursor: pointer;
}

.modalSidebarApp .sidebar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 1.5rem;
}

.modalSidebarApp .close-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.75rem;
  background: transparent;
  width: 40px;
  height: 40px;
  padding: 0.2rem 0.5rem;
  background: transparent;
  border: 0.15rem solid #8d0404;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: maroon;
  -webkit-transition: color 0.3s ease-in, background 0.3s ease-out;
  transition: color 0.3s ease-in, background 0.3s ease-out;
}

.modalSidebarApp .close-btn:hover {
  color: #fff;
  background: maroon;
}

.modalSidebarApp .logo {
  -ms-grid-column-align: center;
      justify-self: center;
  height: 40px;
}

.modalSidebarApp .links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 0.5rem 1rem;
  background: #c4c4c4;
  margin: 0.1rem 0;
  letter-spacing: 0.1rem;
  color: #152d47;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out, padding-left 0.3s ease-in;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out, padding-left 0.3s ease-in;
}

.modalSidebarApp .links a:hover {
  background: #0f3552;
  color: #fff;
  padding-left: 2rem;
}

.modalSidebarApp .links a svg {
  font-size: 1.5rem;
  color: #1a3e61;
  margin-right: 1rem;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.modalSidebarApp .links a:hover svg {
  color: #fff;
}

.modalSidebarApp .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalSidebarApp .links-wrapper a {
  margin: 0.2rem;
}

.modalSidebarApp .sidebar {
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
  background: linear-gradient(0deg, transparent, #fff);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  row-gap: 1rem;
  -webkit-box-shadow: #bb2525;
          box-shadow: #bb2525;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform: translate(-100vw);
          transform: translate(-100vw);
  z-index: 100;
}

.modalSidebarApp .show-sidebar {
  -webkit-transform: translate(0);
          transform: translate(0);
}

.modalSidebarApp .home {
  min-height: calc(100vh - 195px);
  background: #791a3e;
  background: linear-gradient(-45deg, transparent, #0e3a72 50%, #f7cf4b 50%, #791c81 70%, #0e3a72 70%, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.modalSidebarApp .content-container {
  width: 90vw;
  max-width: 500px;
  height: 300px;
  border-radius: 0.25rem;
  background: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(orange), to(transparent));
  background: linear-gradient(90deg, transparent, orange, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  z-index: 1;
}

.modalSidebarApp .content-container h1,
.modalSidebarApp .content-container h3 {
  color: #ddd;
  text-shadow: 0 0 3px #111;
}

.modalSidebarApp .content-container .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalSidebarApp .content-container a {
  padding: 0.5rem 1rem;
  background: rgba(0, 102, 153, 0.6);
  color: #ddd;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  margin-right: 0.5rem;
  -webkit-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
}

.modalSidebarApp .content-container a:hover {
  background: rgba(13, 54, 75, 0.9);
  color: #fff;
}

.modalSidebarApp .content-container::before {
  position: absolute;
  content: "";
  bottom: 0;
  right: 5%;
  width: 200px;
  height: 150px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: linear-gradient(-45deg, rgba(98, 0, 255, 0.5), transparent);
  z-index: -1;
}

.modalSidebarApp .content-container::after {
  position: absolute;
  content: "";
  top: 1rem;
  left: 5%;
  width: 300px;
  height: 250px;
  border-radius: 40% 60% 6% 94% / 51% 42% 58% 49%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(15, 92, 31, 0.2)), to(rgba(185, 43, 24, 0.5)));
  background: linear-gradient(-90deg, rgba(15, 92, 31, 0.2), rgba(185, 43, 24, 0.5));
  z-index: -1;
}

.modalSidebarApp .videos {
  min-height: calc(100vh - 195px);
  background: #791a3e;
  background: linear-gradient(-45deg, transparent, #0e3a72 50%, #f7cf4b 50%, #791c81 70%, #0e3a72 70%, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}

.modalSidebarApp .projects {
  min-height: calc(100vh - 195px);
  background: #791a3e;
  background: linear-gradient(-45deg, transparent, #0e3a72 50%, #f7cf4b 50%, #791c81 70%, #0e3a72 70%, transparent);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  position: relative;
}

.modalSidebarApp .footer {
  background: #cecece;
  background: linear-gradient(45deg, transparent, #0e3a72 20%, #f7cf4b 20%, #791c81 80%, #0e3a72 80%, transparent);
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modalSidebarApp .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.modalSidebarApp .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin: 0.5rem;
  background: #184f77;
  -webkit-box-shadow: 0 0 3px #111;
          box-shadow: 0 0 3px #111;
  -webkit-transition: background 0.3s ease, -webkit-box-shadow 0.3s ease-out;
  transition: background 0.3s ease, -webkit-box-shadow 0.3s ease-out;
  transition: background 0.3s ease, box-shadow 0.3s ease-out;
  transition: background 0.3s ease, box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
}

.modalSidebarApp .social-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  color: #ddd;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.modalSidebarApp .social-icon:hover {
  background: maroon;
  -webkit-box-shadow: 1px 1px 5px #111;
          box-shadow: 1px 1px 5px #111;
}

.modalSidebarApp .social-icon:hover a {
  color: #fff;
}

@media screen and (min-width: 676px) {
  .modalSidebarApp .sidebar {
    width: 400px;
  }
}
/*# sourceMappingURL=ModalSidebarApp.css.map */