.modalSidebarApp {
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  max-width: 1920px;
  position: relative;
  & h1 {
    font-size: 2rem;
  }

  .sidebar-toggle {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    font-size: 2rem;
    background: transparent;
    border: none;
    outline: none;
    color: hsl(204, 74%, 14%);
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
  }

  @keyframes bounce {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .btn {
    text-transform: uppercase;
    color: #222;
    background: transparent;
    padding: 0.375rem 0.75rem;
    letter-spacing: 0.1rem;
    display: inline-block;
    transition: color 0.3s ease, background 0.3s ease-in;
    font-size: 0.875rem;
    border: 2px solid #222;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 0.25rem;
    margin: 0.5rem;
  }
  .btn:hover {
    background: #222;
    color: #fff;
  }

  /*
  =============== 
  Modal
  ===============
  */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: grid;
    place-items: center;
    transform: scale(0);
    opacity: 0;
    transition: transform 0.3s ease-in-out;
    z-index: -1;
  }
  /* OPEN/CLOSE MODAL */
  .show-modal {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
  }
  .modal-container {
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(2px);
    border-radius: 0.25rem;
    width: 90vw;
    height: 50vh;
    max-width: 620px;
    display: grid;
    place-items: center;
    position: relative;
  }

  .close-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: rgb(107, 12, 12);
    cursor: pointer;
  }

  /*
  =============== 
  Sidebar
  ===============
  */
  .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
  }
  .close-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    width: 40px;
    height: 40px;
    padding: 0.2rem 0.5rem;
    background: transparent;
    border: 0.15rem solid rgb(141, 4, 4);
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    color: maroon;
    transition: color 0.3s ease-in, background 0.3s ease-out;
  }
  .close-btn:hover {
    color: #fff;
    background: rgb(128, 0, 0);
  }
  .logo {
    justify-self: center;
    height: 40px;
  }

  .links a {
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    text-transform: capitalize;
    padding: 0.5rem 1rem;
    background: #c4c4c4;
    margin: 0.1rem 0;
    letter-spacing: 0.1rem;
    color: hsl(211, 55%, 18%);
    transition: color 0.3s ease-in-out, background 0.3s ease-in-out,
      padding-left 0.3s ease-in;
  }

  .links a:hover {
    background: hsl(206, 69%, 19%);
    color: #fff;
    padding-left: 2rem;
  }
  .links a svg {
    font-size: 1.5rem;
    color: hsl(209, 58%, 24%);
    margin-right: 1rem;
    transition: color 0.3s ease;
  }
  .links a:hover svg {
    color: #fff;
  }
  .links-wrapper {
    display: flex;
    flex-direction: column;
    & a {
      margin: 0.2rem;
    }
  }
  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    background: linear-gradient(0deg, transparent, #fff);
    backdrop-filter: blur(2px);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: hsl(360, 67%, 44%);
    transition: transform 0.5s ease-in-out;
    transform: translate(-100vw);
    z-index: 100;
  }
  .show-sidebar {
    transform: translate(0);
  }

  .home {
    min-height: calc(100vh - 195px);
    background: rgb(121, 26, 62);
    background: linear-gradient(
      -45deg,
      transparent,
      rgb(14, 58, 114) 50%,
      rgb(247, 207, 75) 50%,
      rgb(121, 28, 129) 70%,
      rgb(14, 58, 114) 70%,
      transparent
    );
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    position: relative;
  }

  .content-container {
    width: 90vw;
    max-width: 500px;
    height: 300px;
    border-radius: 0.25rem;
    background: linear-gradient(90deg, transparent, orange, transparent);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    h1,
    h3 {
      color: #ddd;
      text-shadow: 0 0 3px #111;
    }
    & .links-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & a {
      padding: 0.5rem 1rem;
      background: rgba(0, 102, 153, 0.6);
      color: #ddd;
      letter-spacing: 0.1rem;
      border-radius: 0.25rem;
      margin-right: 0.5rem;
      transition: color 0.5s, background 0.5s;
      &:hover {
        background: rgba(13, 54, 75, 0.9);
        color: #fff;
      }
    }
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      bottom: 0;
      right: 5%;
      width: 200px;
      height: 150px;
      border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      background: linear-gradient(-45deg, rgba(98, 0, 255, 0.5), transparent);
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      top: 1rem;
      left: 5%;
      width: 300px;
      height: 250px;
      border-radius: 40% 60% 6% 94% / 51% 42% 58% 49%;
      background: linear-gradient(
        -90deg,
        rgba(15, 92, 31, 0.2),
        rgba(185, 43, 24, 0.5)
      );
      z-index: -1;
    }
  }

  .videos {
    min-height: calc(100vh - 195px);
    background: rgb(121, 26, 62);

    background: linear-gradient(
      -45deg,
      transparent,
      rgb(14, 58, 114) 50%,
      rgb(247, 207, 75) 50%,
      rgb(121, 28, 129) 70%,
      rgb(14, 58, 114) 70%,
      transparent
    );

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }
  .projects {
    min-height: calc(100vh - 195px);
    background: rgb(121, 26, 62);
    background: linear-gradient(
      -45deg,
      transparent,
      rgb(14, 58, 114) 50%,
      rgb(247, 207, 75) 50%,
      rgb(121, 28, 129) 70%,
      rgb(14, 58, 114) 70%,
      transparent
    );
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
  }

  .footer {
    background: #cecece;
    background: linear-gradient(
      45deg,
      transparent,
      rgb(14, 58, 114) 20%,
      rgb(247, 207, 75) 20%,
      rgb(121, 28, 129) 80%,
      rgb(14, 58, 114) 80%,
      transparent
    );
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .social-icons {
    display: flex;
  }

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0.5rem;
    background: hsl(205, 66%, 28%);
    box-shadow: 0 0 3px #111;
    transition: background 0.3s ease, box-shadow 0.3s ease-out;
    & a {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.3rem;
      color: #ddd;
      transition: color 0.3s linear;
    }
    &:hover {
      background: maroon;
      box-shadow: 1px 1px 5px #111;

      & a {
        color: #fff;
      }
    }
  }

  @media screen and (min-width: 676px) {
    .sidebar {
      width: 400px;
    }
  }
}
