.reviewsApp {
  background: #f1f5f8;
  color: #102a42;
}

.reviewsApp main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

.reviewsApp .title {
  text-align: center;
  margin-bottom: 3rem;
}

.reviewsApp .underline {
  height: 0.25rem;
  width: 5rem;
  background: #617d98;
  margin-left: auto;
  margin-right: auto;
}

.reviewsApp .container {
  width: 80vw;
  max-width: 650px;
}

.reviewsApp .review {
  background: #fff;
  background: linear-gradient(45deg, rgba(165, 18, 86, 0.5), rgba(212, 212, 69, 0.5), rgba(37, 177, 123, 0.5));
  padding: 1rem 0.5rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.reviewsApp .review::before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0a3144;
  background: -webkit-gradient(linear, left bottom, left top, from(#aa5a0f), to(#0a3144));
  background: linear-gradient(0deg, #aa5a0f, #0a3144);
  border: 5px solid #4b073a;
  z-index: -10;
}

.reviewsApp .review::after {
  content: "";
  position: absolute;
  bottom: -15px;
  right: -15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #0a3144;
  background: -webkit-gradient(linear, left bottom, left top, from(#aa5a0f), to(#0a3144));
  background: linear-gradient(0deg, #aa5a0f, #0a3144);
  border: 5px solid #4b073a;
  z-index: -10;
}

.reviewsApp .review:hover {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.reviewsApp .wrapper {
  padding: 1rem 1.5rem;
  background: rgba(255, 255, 255, 0.4);
  text-align: center;
  border-radius: 0.25rem 5rem;
  overflow: hidden;
  position: relative;
}

.reviewsApp .wrapper::before {
  content: "";
  position: absolute;
  top: -20px;
  right: -20px;
  width: 40%;
  height: 30%;
  border-radius: 0 0 30px 100px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background: transparent;
  background: orange;
}

.reviewsApp .wrapper::after {
  content: "";
  position: absolute;
  top: -10px;
  right: -10px;
  width: 30%;
  height: 20%;
  border-radius: 0 0 20px 100px;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background: transparent;
  border: 1px solid #ddd;
}

.reviewsApp .img-container {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.reviewsApp .person-img {
  width: 100%;
  display: block;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  position: relative;
}

.reviewsApp .quote-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 2.5rem;
  height: 2.5rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
  background: #49a6e9;
  color: #fff;
}

.reviewsApp .img-container::before {
  content: "";
  width: 100%;
  height: 100%;
  background: #49a6e9;
  position: absolute;
  top: -0.25rem;
  right: -0.5rem;
  border-radius: 50%;
}

.reviewsApp .author {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.reviewsApp .job {
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: #49a6e9;
  font-size: 0.85rem;
}

.reviewsApp .info {
  margin-bottom: 0.75rem;
}

.reviewsApp .prev-btn,
.reviewsApp .next-btn {
  color: #8bcbf9;
  font-size: 1.25rem;
  background: transparent;
  border-color: transparent;
  margin: 0 0.5rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  cursor: pointer;
}

.reviewsApp .prev-btn:hover,
.reviewsApp .next-btn:hover {
  color: #49a6e9;
}

.reviewsApp .random-btn {
  margin-top: 0.5rem;
  background: #ebf7ff;
  color: #49a6e9;
  padding: 0.25rem 0.5rem;
  text-transform: capitalize;
  border-radius: 0.25rem;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  border-color: transparent;
  cursor: pointer;
}

.reviewsApp .random-btn:hover {
  background: #49a6e9;
  color: #063251;
}

@media screen and (min-width: 768px) {
  .reviewsApp .underline {
    height: 0.25rem;
    width: 5rem;
  }
  .reviewsApp .container {
    width: 80vw;
  }
  .reviewsApp .review {
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  .reviewsApp .review::before {
    top: -35px;
    left: -35px;
    width: 100px;
    height: 100px;
  }
  .reviewsApp .review::after {
    bottom: -35px;
    right: -35px;
    width: 100px;
    height: 100px;
  }
  .reviewsApp .wrapper {
    padding: 1rem 1.5rem;
  }
  .reviewsApp .wrapper::before {
    top: -20px;
    right: -20px;
    width: 40%;
    height: 30%;
    border-radius: 0 0 30px 100px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .reviewsApp .wrapper::after {
    top: -10px;
    right: -10px;
    width: 30%;
    height: 20%;
    border-radius: 0 0 20px 100px;
    -webkit-transform: rotate(30deg);
            transform: rotate(30deg);
  }
  .reviewsApp .img-container {
    width: 150px;
    height: 150px;
  }
  .reviewsApp .quote-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
  .reviewsApp .author {
    font-size: 1.5rem;
    margin-bottom: 0.25rem;
  }
  .reviewsApp .job {
    font-size: 0.85rem;
  }
  .reviewsApp .prev-btn,
  .reviewsApp .next-btn {
    font-size: 1.25rem;
    margin: 0 0.5rem;
  }
  .reviewsApp .random-btn {
    margin-top: 0.5rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
}
/*# sourceMappingURL=ReviewsApp.css.map */