.bdayRemindarApp {
  color: hsl(209, 61%, 16%);
  line-height: 1.5;
  font-size: 0.875rem;
  p {
    margin-bottom: 1.25rem;
    color: hsl(210, 22%, 49%);
  }

  /* section */
  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }

  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }

  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  &__container {
    width: 90vw;
    margin: 1rem 0;
    max-width: 450px;
    background: #fff;
    background: linear-gradient(45deg, orange, #f28ab2);
    border-radius: 0.25rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  }
  &__container h3 {
    // font-weight: normal;
    text-transform: none;
    margin-bottom: 2rem;
    font-weight: 700;
    text-align: center;
  }
  .list {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.75rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 20px 1px 20px;
    margin-bottom: 1.5rem;
    padding: 0.5rem 1rem;
    align-items: center;
  }
  .list img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  }
  .list h4 {
    margin-bottom: 0.35rem;
  }
  .list p {
    margin-bottom: 0;
  }
  &__container button {
    color: #ddd;
    display: block;
    width: 100%;
    border-color: transparent;
    background: #ce3f76;
    margin: 2rem auto 0;
    text-transform: capitalize;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    letter-spacing: 0.1rem;
    border-radius: 3rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    outline: none;
    &:hover {
      color: #fff;
      background: #a72959;
    }
  }
}
