.colorGeneratorApp {
  background: hsl(210, 36%, 96%);
  color: hsl(209, 61%, 16%);
  min-height: 100vh;

  /* section */
  section {
    width: 90vw;
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
  }

  @media screen and (min-width: 992px) {
    section {
      width: 95vw;
    }
  }

  /*
  =============== 
  Color Generator
  ===============
  */

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    background: #fff;
    background: linear-gradient(0deg, transparent, #069);
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      top: 10%;
      right: 50%;
      width: 200px;
      height: 150px;
      border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      background: linear-gradient(0deg, rgba(98, 0, 255, 0.5), transparent);
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      top: 1rem;
      left: 50%;
      width: 300px;
      height: 200px;
      border-radius: 40% 60% 6% 94% / 51% 42% 58% 49%;
      background: rgba(185, 24, 78, 0.2);
      z-index: -1;
    }
  }
  .container h2 {
    font-family: "bauhaus 93", sans-serif;
    background: linear-gradient(45deg, orange, rgb(11, 64, 90), maroon);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  input {
    border-color: transparent;
    padding: 0.5rem;
    font-size: 0.85rem;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    box-shadow: -2px 0 0 hsl(207, 81%, 17%);
    outline: none;
  }
  .btn {
    background: hsl(209, 65%, 24%);
    padding: 0.5rem;
    font-size: 0.8rem;
    border-color: transparent;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    box-shadow: 2px 0 0 #fff;
    color: #eee;
    cursor: pointer;
    &:hover {
      color: #fff;
      background: hsl(208, 74%, 16%);
    }
  }
  .hint {
    margin-top: 0.5rem;
    background: rgba(109, 125, 150, 0.8);
    padding: 0.2rem 0.5rem;
    border-radius: 0.25rem;
  }
  @media screen and (min-width: 576px) {
    input {
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
    }
    .btn {
      padding: 0.5rem 1rem;
      font-size: 1.2rem;
      letter-spacing: 0.1rem;
    }
    .hint {
      margin-top: 0.5rem;
      padding: 0.2rem 0.5rem;
    }
  }
  input.error {
    border: 2px solid hsl(360, 67%, 44%);
    box-shadow: 0 0 5px maroon;
  }
  .colors {
    min-height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(223.33px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(96px, 1fr));
    gap: 1rem;
    padding: 1rem;
    background: rgba(255, 165, 0, 0.8);
  }
  .color {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    text-transform: none;
    border-radius: 5px;
    z-index: 10;
    box-shadow: 0 0 2px #111;
    transition: box-shadow 0.5s ease;
    position: relative;
    &:hover {
      box-shadow: 4px 0px 0px maroon, -4px 0px 0px maroon;
    }
  }
  .percent-value {
    color: hsl(209, 84%, 12%);
  }
  .color-value {
    color: hsl(209, 78%, 18%);
    font-weight: bold;
    letter-spacing: 1px;
  }
  .color-light .color-value {
    color: #fff;
    letter-spacing: 1px;
  }
  .color-light .percent-value {
    color: #fff;
  }

  .alert {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.85rem;
    color: #ddd;
    text-align: center;
    background: rgba(107, 6, 74, 0.5);
  }
}
