.cartApp {
  background: #f1f5f8;
  background: linear-gradient(120deg, maroon 25%, #f69e0f 25%, #f69e0f 55%, #0b3769 55%, #0b3769 77%, maroon 77%);
  color: #102a42;
  min-height: calc(100vh - 120px);
  padding: 1rem 0;
  /*
  =============== 
  Navbar
  ===============
  */
  /*
  =============== 
  Cart
  ===============
  */
  /*
  =============== 
  Cart Item
  ===============
  */
}

.cartApp img {
  width: 100%;
  display: block;
}

.cartApp .btn {
  text-transform: uppercase;
  background: #2680c0;
  color: #f1f5f8;
  padding: 0.375rem 0.75rem;
  letter-spacing: 0.15rem;
  display: inline-block;
  font-weight: 700;
  -webkit-transition: color 0.3s linear, background 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.cartApp .btn:hover {
  color: #2680c0;
  background: #85c6f4;
}

.cartApp .loader-container {
  min-height: calc(100vh - 152px);
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.cartApp .loader {
  margin: 8rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 200px;
  -webkit-perspective: 600px;
          perspective: 600px;
  position: relative;
}

.cartApp .loader span {
  position: absolute;
  border: 20px solid orange;
  border-radius: 5px;
}

.cartApp .loader span::before {
  position: absolute;
  content: "";
  top: -20px;
  left: -20px;
  width: 20px;
  height: 50%;
  background: maroon;
}

.cartApp .loader span::after {
  position: absolute;
  content: "";
  bottom: -20px;
  right: -20px;
  width: 20px;
  height: 50%;
  background: #0b3769;
}

.cartApp .loader span:nth-child(1) {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-animation: animate-rotating-frames 8s linear infinite;
          animation: animate-rotating-frames 8s linear infinite;
}

.cartApp .loader span:nth-child(2) {
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  -webkit-animation: animate-rotating-frames 4s linear infinite;
          animation: animate-rotating-frames 4s linear infinite;
}

.cartApp .loader span:nth-child(3) {
  top: 40px;
  left: 40px;
  right: 40px;
  bottom: 40px;
  -webkit-animation: animate-rotating-frames 2s linear infinite;
          animation: animate-rotating-frames 2s linear infinite;
}

.cartApp .error {
  color: #ddd;
}

@-webkit-keyframes animate-rotating-frames {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

@keyframes animate-rotating-frames {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg);
  }
}

.cartApp nav {
  position: -webkit-sticky;
  position: sticky;
  top: 120px;
  background: maroon;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 165, 0, 0.8)), to(rgba(8, 52, 75, 0.8)));
  background: linear-gradient(0deg, rgba(255, 165, 0, 0.8), rgba(8, 52, 75, 0.8));
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 1.25rem 2rem;
  z-index: 100;
}

.cartApp .nav-center {
  max-width: 50rem;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cartApp nav h3 {
  margin-bottom: 0;
  color: #f1f5f8;
}

.cartApp .logo-wrapper {
  border-radius: 0 1rem 0 1rem;
  padding: 0.3rem;
  background: rgba(255, 255, 255, 0.7);
  position: relative;
  width: 12rem;
}

.cartApp .logo-wrapper img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.cartApp .logo-wrapper::before {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  height: 100%;
  width: 28%;
  border-radius: 0 0 0 1rem;
  background: rgba(255, 255, 255, 0.8);
  z-index: -1;
}

.cartApp .nav-container {
  display: block;
  position: relative;
}

.cartApp .cartIcon {
  width: 2rem;
  fill: #f1f5f8;
}

.cartApp .amount-container {
  position: absolute;
  top: -0.85rem;
  right: -0.85rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 50%;
  background: orange;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cartApp .total-amount {
  color: #fff;
  font-size: 1rem;
  font-weight: bolder;
}

.cartApp .cart {
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 2.5rem 1rem;
  max-width: 50rem;
  border-radius: 0.5rem;
  background: -webkit-gradient(linear, left top, right top, color-stop(48%, rgba(246, 158, 15, 0.9)), to(#083261));
  background: linear-gradient(90deg, rgba(246, 158, 15, 0.9) 48%, #083261 100%);
  position: relative;
  z-index: 1;
}

.cartApp .cart::before {
  position: absolute;
  content: "";
  top: -8%;
  right: -5%;
  width: 300px;
  height: 250px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: rgba(95, 6, 107, 0.5);
  z-index: -5;
}

.cartApp .cart::after {
  position: absolute;
  content: "";
  top: 8%;
  left: 0%;
  width: 280px;
  height: 250px;
  border-radius: 88% 12% 25% 75% / 48% 48% 52% 52%;
  background: rgba(16, 6, 107, 0.2);
  z-index: -5;
}

.cartApp .cart header h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;
}

.cartApp .cart header h2 span {
  display: inline-block;
  color: #fff;
  background: maroon;
  border-radius: 0.2rem;
}

.cartApp .empty-cart {
  text-transform: lowercase;
  color: #133a5f;
  margin-top: 1rem;
  text-align: center;
}

.cartApp .cart footer {
  margin-top: 2rem;
  text-align: center;
}

.cartApp .cart-total h4 {
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
  padding: 0.5rem 0.1rem 0.5rem 0.5rem;
  border-radius: 0.15rem;
  color: #eaeaea;
}

.cartApp .clear-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: #620b74;
  border: 1px solid #620b74;
  margin-top: 2.25rem;
  border-radius: 0.25rem;
  -webkit-transition: color 0.3s ease, background 0.5s ease-in-out;
  transition: color 0.3s ease, background 0.5s ease-in-out;
}

.cartApp .clear-btn:hover {
  background: #620b74;
  color: #fff;
}

.cartApp .cart-item-wrapper {
  overflow: hidden;
}

.cartApp .cart-item {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: auto 1fr auto;
      grid-template-columns: auto 1fr auto;
  grid-column-gap: 1rem;
  margin: 1rem 0;
  border-radius: 0.25rem;
  padding: 1rem;
  background: linear-gradient(-45deg, white 25%, transparent, white 75%);
}

.cartApp .cart-item img {
  width: 5rem;
  height: 5rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.cartApp .cart-item h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.cartApp .item-price {
  color: #617d98;
}

.cartApp .remove-btn {
  letter-spacing: 0.15rem;
  cursor: pointer;
  font-size: 0.85rem;
  background: transparent;
  padding: 0.3rem 0.8rem;
  border-radius: 0.25rem;
  color: #620b74;
  border: 1px solid #620b74;
  margin-top: 0.25rem;
  -webkit-transition: color 0.3s ease, background 0.5s ease-in-out;
  transition: color 0.3s ease, background 0.5s ease-in-out;
}

.cartApp .remove-btn:hover {
  color: #fff;
  background: #620b74;
}

.cartApp .amount-btn {
  width: 1.5rem;
  background: transparent;
  border: 1px solid #620b74;
  border-radius: 0.15rem;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.cartApp .amount-btn:hover {
  background: #620b74;
}

.cartApp .amount-btn svg {
  fill: #620b74;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.cartApp .amount-btn:hover svg {
  fill: #fff;
}

.cartApp .amount {
  margin: 0.1rem 0;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
}

.cartApp hr {
  background: #617d98;
  border-color: transparent;
  border-width: 0.25px;
}

@media screen and (min-width: 768px) {
  .cartApp {
    /*
    =============== 
    Cart
    ===============
    */
  }
  .cartApp .loader {
    margin: 8rem auto;
    width: 200px;
    height: 200px;
    -webkit-perspective: 600px;
            perspective: 600px;
    position: relative;
  }
  .cartApp .loader span {
    border: 20px solid orange;
    border-radius: 5px;
  }
  .cartApp .loader span::before {
    top: -20px;
    left: -20px;
    width: 20px;
    height: 50%;
  }
  .cartApp .loader span::after {
    bottom: -20px;
    right: -20px;
    width: 20px;
    height: 50%;
  }
  .cartApp .loader span:nth-child(2) {
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
  }
  .cartApp .loader span:nth-child(3) {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
  .cartApp nav {
    padding: 1.25rem 2rem;
  }
  .cartApp .logo-wrapper {
    border-radius: 0 1rem 0 1rem;
    padding: 0.3rem;
    width: 20rem;
  }
  .cartApp .logo-wrapper::before {
    height: 100%;
    width: 28%;
    border-radius: 0 0 0 1rem;
  }
  .cartApp .cartIcon {
    width: 2rem;
  }
  .cartApp .amount-container {
    top: -0.85rem;
    right: -0.85rem;
    width: 1.75rem;
    height: 1.75rem;
  }
  .cartApp .total-amount {
    font-size: 1rem;
  }
  .cartApp .cart {
    width: 90vw;
    margin-top: 2rem;
    padding: 2.5rem 1rem;
    border-radius: 0.5rem;
  }
  .cartApp .cart::before {
    top: -8%;
    right: -10%;
    width: 300px;
    height: 250px;
  }
  .cartApp .cart::after {
    top: 8%;
    left: 0%;
    width: 400px;
    height: 300px;
  }
  .cartApp .clear-btn {
    padding: 0.5rem 1rem;
  }
  .cartApp .cart-item {
    grid-column-gap: 1rem;
    padding: 1rem;
  }
  .cartApp .cart-item img {
    width: 5rem;
    height: 5rem;
  }
  .cartApp .cart-item h4 {
    font-weight: 500;
    letter-spacing: 2px;
  }
  .cartApp .remove-btn {
    font-size: 0.85rem;
    padding: 0.3rem 0.8rem;
  }
  .cartApp .amount-btn {
    width: 1.5rem;
  }
  .cartApp .amount {
    font-size: 1rem;
  }
}
/*# sourceMappingURL=Cart.css.map */