body {
  background: white 100%;
}

.stripeSubmenusApp {
  width: 100%;
  min-height: calc(100vh - 120px);
  background: #dfcdcd;
  /*
  =============== 
  Stripe Styles
  ===============
  */
  /* companies media query */
  /* nav media query */
  /* hero media query */
  /* sidebar */
  /* links */
}

.stripeSubmenusApp .gradient-bg {
  height: 110vh;
  color: #102a42;
  background: linear-gradient(165deg, #ff333d 0%, #ff333d 3%, #a960ee 8%, #a960ee 15%, #90e0ff 20%, rgba(255, 165, 0, 0.8) 35%, rgba(255, 165, 0, 0.8) 45%, rgba(91, 195, 236, 0.8) 50%, white 50%);
}

.stripeSubmenusApp .nav {
  margin: 0 auto;
  width: 90vw;
  max-width: 1080px;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.stripeSubmenusApp .nav-center {
  width: 100%;
}

.stripeSubmenusApp .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stripeSubmenusApp .nav-logo {
  font-size: 2rem;
  text-transform: initial;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  letter-spacing: initial;
  cursor: pointer;
}

.stripeSubmenusApp .nav-logo:hover {
  color: #ddd;
}

.stripeSubmenusApp .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5rem 1.2rem;
  height: 2.3rem;
  font-size: 1rem;
  border-radius: 2.5rem;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.stripeSubmenusApp .chevronRight {
  font-size: 0.7rem;
}

.stripeSubmenusApp .arrowRight {
  font-size: 0.75rem;
  display: none;
}

.stripeSubmenusApp .btn:hover {
  background: #617d98;
}

.stripeSubmenusApp .btn:hover .chevronRight {
  display: none;
}

.stripeSubmenusApp .btn:hover .arrowRight {
  display: inline-block;
}

.stripeSubmenusApp .nav-links {
  display: none;
}

.stripeSubmenusApp .btn-signin {
  display: none;
}

.stripeSubmenusApp .toggle-btn {
  background: rgba(255, 255, 255, 0.2);
}

.stripeSubmenusApp .toggle-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.stripeSubmenusApp .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stripeSubmenusApp .btn-startNow {
  width: 8rem;
  background: #083f5a;
}

.stripeSubmenusApp .btn-contactSales {
  width: 10rem;
  background: transparent;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #083f5a;
  font-weight: 600;
  margin-left: 0.5rem;
}

.stripeSubmenusApp .btn-contactSales:hover {
  background: transparent;
  color: #617d98;
}

.stripeSubmenusApp .hero {
  margin: 0 auto;
  width: 90vw;
  max-width: 1080px;
  margin-top: 10rem;
}

.stripeSubmenusApp .hero-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.stripeSubmenusApp .hero-info h1 {
  text-transform: none;
  color: #0c5775;
  mix-blend-mode: darken;
}

.stripeSubmenusApp .hero-info p {
  margin: 2rem 0;
  width: 80vw;
  font-size: 1.2rem;
  line-height: 1.8;
}

.stripeSubmenusApp .hero-images {
  display: none;
}

.stripeSubmenusApp .companies-logo {
  margin: 8rem 0 2rem 0;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 0.5rem;
  gap: 5rem 3rem;
}

.stripeSubmenusApp .logo-wrapper {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 700px) {
  .stripeSubmenusApp .companies-logo {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .stripeSubmenusApp .companies-logo {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .stripeSubmenusApp .nav-center {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stripeSubmenusApp .toggle-btn {
    display: none;
  }
  .stripeSubmenusApp .btn-signin {
    width: 6.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
  }
  .stripeSubmenusApp .btn-signin:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .stripeSubmenusApp .nav-links {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stripeSubmenusApp .nav-links li {
    height: 100%;
    margin: 0 0.1rem;
  }
  .stripeSubmenusApp .link-btn {
    padding: 1rem;
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1rem;
    font-weight: 510;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .stripeSubmenusApp .link-btn:hover {
    color: #eaeaea;
  }
}

@media screen and (min-width: 900px) {
  .stripeSubmenusApp .hero {
    width: 95vw;
  }
  .stripeSubmenusApp .hero-info h1 {
    font-size: 4rem;
  }
  .stripeSubmenusApp .hero-info p {
    font-size: 1.25rem;
    width: 25rem;
  }
  .stripeSubmenusApp .hero-images {
    display: block;
    position: absolute;
    top: 30%;
    right: 0rem;
  }
  .stripeSubmenusApp .phone-img {
    width: 25rem;
  }
}

@media screen and (min-width: 1200px) {
  .stripeSubmenusApp .hero-info h1 {
    font-size: 5rem;
  }
  .stripeSubmenusApp .hero-info p {
    width: 30rem;
  }
  .stripeSubmenusApp .phone-img {
    width: 32rem;
  }
}

@media screen and (min-width: 1400px) {
  .stripeSubmenusApp .phone-img {
    width: 32rem;
  }
}

.stripeSubmenusApp .sidebar-wrapper {
  position: absolute;
  top: 75px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 1rem 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}

.stripeSubmenusApp .sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.stripeSubmenusApp .sidebar {
  width: 90vw;
  min-height: 90vh;
  max-width: 620px;
  background: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 0.3rem;
}

.stripeSubmenusApp .close-btn {
  font-size: 1.6rem;
  background: transparent;
  border-color: transparent;
  color: #617d98;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.stripeSubmenusApp .sidebar article {
  padding: 3rem 2rem 1rem 2rem;
  border-bottom: 1px dashed #ccc;
}

.stripeSubmenusApp .sidebar article h1 {
  font-size: 13px;
  color: #999;
}

.stripeSubmenusApp .sidebar article:last-child {
  border-bottom: none;
}

.stripeSubmenusApp .sidebar-sublinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding-bottom: 1rem;
}

.stripeSubmenusApp .sidebar-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  outline: none;
  font-size: 14px;
}

.stripeSubmenusApp .sidebar-link-wrapper .sidebar-icon-container {
  width: 20px;
  margin: 0 0.7rem;
}

.stripeSubmenusApp .sidebar-link-wrapper .sidebar-icon-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.stripeSubmenusApp .sidebar-link-wrapper .sidebar-label-container h5 {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0 0.2rem;
  text-transform: capitalize;
  color: #0a2540;
}

.stripeSubmenusApp .sidebar-link-wrapper .sidebar-label-container .arrowRight {
  visibility: hidden;
  display: inline-block;
}

.stripeSubmenusApp .sidebar-link-wrapper:hover .arrowRight {
  visibility: visible;
}

.stripeSubmenusApp .btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  background: #eee;
  border-radius: 0.5rem;
}

.stripeSubmenusApp .sidebar-btn-signin {
  width: 6.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #4615bb;
}

.stripeSubmenusApp .sidebar-btn-signin:hover {
  background: #061233;
}

@media screen and (min-width: 900px) {
  .stripeSubmenusApp .sidebar-wrapper {
    display: none;
  }
}

.stripeSubmenusApp .submenu {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: 0.25rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.stripeSubmenusApp .submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.stripeSubmenusApp .submenu.show {
  display: block;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.stripeSubmenusApp .submenu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1rem;
}

.stripeSubmenusApp .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.2rem;
}

.stripeSubmenusApp .links-container h3 {
  color: #888;
  font-size: 1.2rem;
}

.stripeSubmenusApp .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  outline: none;
  font-size: 14px;
  margin: 0.8rem 0;
}

.stripeSubmenusApp .link-wrapper .icon-container {
  width: 20px;
  margin: 0 0.7rem;
}

.stripeSubmenusApp .link-wrapper .icon-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.stripeSubmenusApp .link-wrapper .icon-size {
  width: 40px;
}

.stripeSubmenusApp .link-wrapper .label-container h5 {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0 0.2rem;
  text-transform: capitalize;
  color: #0a2540;
}

.stripeSubmenusApp .link-wrapper .label-container p {
  font-size: 0.8rem;
  color: #5d7c9b;
  font-weight: 620;
}

.stripeSubmenusApp .link-wrapper .label-container .arrowRight {
  visibility: hidden;
  display: inline-block;
}

.stripeSubmenusApp .link-wrapper:hover .label-container p {
  color: #0a2540;
}

.stripeSubmenusApp .link-wrapper:hover .label-container .arrowRight {
  visibility: visible;
}
/*# sourceMappingURL=StripeSubmenusApp.css.map */