body {
  background: white 100%;
}

.stripeSubmenusApp {
  width: 100%;
  min-height: calc(100vh - 120px);
  background: #dfcdcd;
  margin: 0 auto;
  max-width: 1920px;
  /*
  =============== 
  Stripe Styles
  ===============
  */
  /* companies media query */
  /* nav media query */
  /* hero media query */
  /* sidebar */
  /* links */
}

.stripeSubmenusApp .gradient-bg {
  height: 110vh;
  color: #102a42;
  background: linear-gradient(165deg, #ff333d 0%, #ff333d 3%, #a960ee 8%, #a960ee 15%, #90e0ff 20%, rgba(255, 165, 0, 0.8) 35%, rgba(255, 165, 0, 0.8) 45%, rgba(91, 195, 236, 0.8) 50%, white 50%);
}

.stripeSubmenusApp .nav {
  margin: 0 auto;
  width: 90vw;
  max-width: 1750px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.stripeSubmenusApp .nav-center {
  width: 100%;
}

.stripeSubmenusApp .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stripeSubmenusApp .nav-logo {
  font-size: 30px;
  text-transform: initial;
  color: #fff;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  letter-spacing: initial;
  cursor: pointer;
}

.stripeSubmenusApp .nav-logo:hover {
  color: #ddd;
}

.stripeSubmenusApp .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px 20px;
  height: 36.8px;
  font-size: 16px;
  border-radius: 40px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  -webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
  transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.stripeSubmenusApp .chevronRight {
  font-size: 11.5px;
}

.stripeSubmenusApp .arrowRight {
  font-size: 12px;
  display: none;
}

.stripeSubmenusApp .btn:hover {
  background: #617d98;
}

.stripeSubmenusApp .btn:hover .chevronRight {
  display: none;
}

.stripeSubmenusApp .btn:hover .arrowRight {
  display: inline-block;
}

.stripeSubmenusApp .nav-links {
  display: none;
}

.stripeSubmenusApp .btn-signin {
  display: none;
}

.stripeSubmenusApp .toggle-btn {
  background: rgba(255, 255, 255, 0.2);
}

.stripeSubmenusApp .toggle-btn:hover {
  background: rgba(255, 255, 255, 0.4);
}

.stripeSubmenusApp .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stripeSubmenusApp .btn-startNow {
  width: 128px;
  background: #083f5a;
}

.stripeSubmenusApp .btn-contactSales {
  width: 160px;
  background: transparent;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  color: #083f5a;
  font-weight: 600;
  margin-left: 8px;
}

.stripeSubmenusApp .btn-contactSales:hover {
  background: transparent;
  color: #617d98;
}

.stripeSubmenusApp .hero {
  margin: 0 auto;
  width: 90vw;
  position: relative;
  max-width: 1750px;
  margin-top: 160px;
}

.stripeSubmenusApp .hero-center {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.stripeSubmenusApp .hero-info h1 {
  text-transform: none;
  color: #0c5775;
  mix-blend-mode: darken;
}

.stripeSubmenusApp .hero-info p {
  margin: 32px 0;
  width: 80vw;
  font-size: 19.2px;
  line-height: 1.8;
}

.stripeSubmenusApp .hero-images {
  display: none;
}

.stripeSubmenusApp .companies-logo {
  margin: 128px 0 32px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  padding: 8px;
  gap: 80px 48px;
}

.stripeSubmenusApp .logo-wrapper {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (min-width: 700px) {
  .stripeSubmenusApp .companies-logo {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  .stripeSubmenusApp .companies-logo {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 900px) {
  .stripeSubmenusApp .nav-center {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stripeSubmenusApp .toggle-btn {
    display: none;
  }
  .stripeSubmenusApp .btn-signin {
    width: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: rgba(255, 255, 255, 0.2);
  }
  .stripeSubmenusApp .btn-signin:hover {
    background: rgba(255, 255, 255, 0.4);
  }
  .stripeSubmenusApp .nav-links {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .stripeSubmenusApp .nav-links li {
    height: 100%;
    margin: 0 1.6px;
  }
  .stripeSubmenusApp .link-btn {
    padding: 16px;
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    font-weight: 510;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
  }
  .stripeSubmenusApp .link-btn:hover {
    color: #eaeaea;
  }
}

@media screen and (min-width: 900px) {
  .stripeSubmenusApp .hero-info h1 {
    font-size: 64px;
  }
  .stripeSubmenusApp .hero-info p {
    font-size: 20px;
    width: 400px;
  }
  .stripeSubmenusApp .hero-images {
    display: block;
    position: absolute;
    top: -2%;
    right: -4.8%;
  }
  .stripeSubmenusApp .phone-img {
    width: 400px;
  }
}

@media screen and (min-width: 1200px) {
  .stripeSubmenusApp .hero-info h1 {
    font-size: 80px;
  }
  .stripeSubmenusApp .hero-info p {
    width: 480px;
  }
  .stripeSubmenusApp .phone-img {
    width: 512px;
  }
}

@media screen and (min-width: 1400px) {
  .stripeSubmenusApp .phone-img {
    width: 512px;
  }
}

.stripeSubmenusApp .sidebar-wrapper {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  min-height: 100vh;
  padding: 16px 0;
  display: -ms-grid;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: scale(0);
          transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}

.stripeSubmenusApp .sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.stripeSubmenusApp .sidebar {
  width: 95vw;
  margin: 0 auto;
  min-height: 90vh;
  max-width: 620px;
  background: #fff;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  position: relative;
  padding: 3.2px;
}

.stripeSubmenusApp .close-btn {
  font-size: 25px;
  background: transparent;
  border-color: transparent;
  color: #617d98;
  position: absolute;
  top: 16px;
  right: 16px;
  cursor: pointer;
}

.stripeSubmenusApp .sidebar article {
  padding: 48px 32px 16px;
  border-bottom: 1px dashed #ccc;
}

.stripeSubmenusApp .sidebar article h1 {
  font-size: 13px;
  color: #999;
}

.stripeSubmenusApp .sidebar article:last-child {
  border-bottom: none;
}

.stripeSubmenusApp .sidebar-sublinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 16px 0;
  padding-bottom: 16px;
}

.stripeSubmenusApp .sidebar-link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  outline: none;
  font-size: 12px;
}

.stripeSubmenusApp .sidebar-link-wrapper .sidebar-icon-container {
  width: 20px;
  margin: 0 11.2px;
}

.stripeSubmenusApp .sidebar-link-wrapper .sidebar-icon-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.stripeSubmenusApp .sidebar-link-wrapper .sidebar-label-container h5 {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0 3.2px;
  text-transform: capitalize;
  color: #0a2540;
}

.stripeSubmenusApp .sidebar-link-wrapper .sidebar-label-container .arrowRight {
  visibility: hidden;
  display: inline-block;
}

.stripeSubmenusApp .sidebar-link-wrapper:hover .arrowRight {
  visibility: visible;
}

.stripeSubmenusApp .btn-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  background: #eee;
  border-radius: 8px;
}

.stripeSubmenusApp .sidebar-btn-signin {
  width: 105px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #4615bb;
}

.stripeSubmenusApp .sidebar-btn-signin:hover {
  background: #061233;
}

@media screen and (min-width: 900px) {
  .stripeSubmenusApp .sidebar-wrapper {
    display: none;
  }
}

.stripeSubmenusApp .submenu {
  background: #fff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 128px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 30px;
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.stripeSubmenusApp .submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
  position: absolute;
  top: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.stripeSubmenusApp .submenu.show {
  display: block;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}

.stripeSubmenusApp .submenu-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 16px;
}

.stripeSubmenusApp .links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3.2px;
}

.stripeSubmenusApp .links-container h3 {
  color: #888;
  font-size: 19.2px;
}

.stripeSubmenusApp .link-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  outline: none;
  font-size: 14px;
  margin: 12.8px 0;
}

.stripeSubmenusApp .link-wrapper .icon-container {
  width: 20px;
  margin: 0 11.2px;
}

.stripeSubmenusApp .link-wrapper .icon-container img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.stripeSubmenusApp .link-wrapper .icon-size {
  width: 40px;
}

.stripeSubmenusApp .link-wrapper .label-container h5 {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0 3.2px;
  text-transform: capitalize;
  color: #0a2540;
}

.stripeSubmenusApp .link-wrapper .label-container p {
  font-size: 12.8px;
  color: #5d7c9b;
  font-weight: 620;
}

.stripeSubmenusApp .link-wrapper .label-container .arrowRight {
  visibility: hidden;
  display: inline-block;
}

.stripeSubmenusApp .link-wrapper:hover .label-container p {
  color: #0a2540;
}

.stripeSubmenusApp .link-wrapper:hover .label-container .arrowRight {
  visibility: visible;
}
/*# sourceMappingURL=StripeSubmenusApp.css.map */