.stripeSubmenusApp {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  color: var(--clr-grey-1);
  min-height: 100vh;
  /*  global classes */
  /* section */
  /*
  =============== 
  Stripe Styles
  ===============
  */
  /* nav media query */
  /* hero media query */
  /* sidebar */
  /* links */
}

.stripeSubmenusApp ul {
  list-style-type: none;
}

.stripeSubmenusApp a {
  text-decoration: none;
}

.stripeSubmenusApp h1,
.stripeSubmenusApp h2,
.stripeSubmenusApp h3,
.stripeSubmenusApp h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

.stripeSubmenusApp h1 {
  font-size: 3rem;
}

.stripeSubmenusApp h2 {
  font-size: 2rem;
}

.stripeSubmenusApp h3 {
  font-size: 1.25rem;
}

.stripeSubmenusApp h4 {
  font-size: 0.875rem;
}

.stripeSubmenusApp p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
  .stripeSubmenusApp h1 {
    font-size: 4rem;
  }
  .stripeSubmenusApp h2 {
    font-size: 2.5rem;
  }
  .stripeSubmenusApp h3 {
    font-size: 1.75rem;
  }
  .stripeSubmenusApp h4 {
    font-size: 1rem;
  }
  .stripeSubmenusApp body {
    font-size: 1rem;
  }
  .stripeSubmenusApp h1,
  .stripeSubmenusApp h2,
  .stripeSubmenusApp h3,
  .stripeSubmenusApp h4 {
    line-height: 1;
  }
}

.stripeSubmenusApp .section {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .stripeSubmenusApp .section {
    width: 95vw;
  }
}

.stripeSubmenusApp .nav {
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  position: relative;
  z-index: 1;
}

.stripeSubmenusApp .nav-center {
  width: 90vw;
  max-width: var(--max-width);
}

.stripeSubmenusApp .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stripeSubmenusApp .btn {
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.stripeSubmenusApp .btn:hover {
  background: var(--clr-grey-5);
}

.stripeSubmenusApp .nav-links {
  display: none;
}

.stripeSubmenusApp .signin-btn {
  display: none;
}

.stripeSubmenusApp .hero {
  position: relative;
  min-height: 100vh;
  margin-top: -5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  justify-items: center;
}

.stripeSubmenusApp .hero::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 65%;
  top: 0;
  left: 0;
  background-image: url(./images/hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

.stripeSubmenusApp .hero-center {
  width: 90vw;
  max-width: var(--max-width);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stripeSubmenusApp .hero-info h1 {
  text-transform: none;
  max-width: 500px;
  margin-bottom: 2rem;
}

.stripeSubmenusApp .hero-info p {
  max-width: 35em;
  line-height: 1.8;
}

.stripeSubmenusApp .hero-images {
  display: none;
}

@media screen and (min-width: 800px) {
  .stripeSubmenusApp .nav-center {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 1fr auto;
        grid-template-columns: auto 1fr auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stripeSubmenusApp .toggle-btn {
    display: none;
  }
  .stripeSubmenusApp .signin-btn {
    display: inline-block;
  }
  .stripeSubmenusApp .nav-links {
    display: block;
    -ms-grid-column-align: center;
        justify-self: center;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    height: 100%;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stripeSubmenusApp .nav-links li {
    height: 100%;
  }
  .stripeSubmenusApp .link-btn {
    height: 100%;
    background: transparent;
    border-color: transparent;
    font-size: 1.1rem;
    color: white;
    text-transform: capitalize;
    letter-spacing: 1px;
    width: 10rem;
  }
}

@media screen and (min-width: 800px) {
  .stripeSubmenusApp .hero::before {
    background-size: contain;
    height: 100%;
  }
  .stripeSubmenusApp .hero-center {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
  }
  .stripeSubmenusApp .hero-info h1 {
    font-size: 3rem;
  }
  .stripeSubmenusApp .hero-info p {
    font-size: 1.25rem;
  }
  .stripeSubmenusApp .hero-images {
    display: block;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .stripeSubmenusApp .phone-img {
    width: 12rem;
  }
}

@media screen and (min-width: 1200px) {
  .stripeSubmenusApp .hero-center {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    padding-bottom: 12vh;
  }
  .stripeSubmenusApp .hero-info h1 {
    max-width: 100%;
    font-size: 5.5rem;
  }
  .stripeSubmenusApp .hero-images {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
  }
  .stripeSubmenusApp .phone-img {
    width: 15rem;
  }
}

@media screen and (min-width: 1400px) {
  .stripeSubmenusApp .hero-center {
    padding-bottom: 20vh;
  }
  .stripeSubmenusApp .phone-img {
    width: 17rem;
  }
}

.stripeSubmenusApp .sidebar-wrapper {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  visibility: hidden;
  z-index: -1;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  -webkit-transform: scale(0);
          transform: scale(0);
  background: rgba(0, 0, 0, 0.5);
}

.stripeSubmenusApp .sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.stripeSubmenusApp .sidebar {
  width: 90vw;
  height: 95vh;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  position: relative;
  padding: 4rem 2rem;
}

.stripeSubmenusApp .close-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-grey-5);
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}

.stripeSubmenusApp .sidebar article {
  margin-bottom: 2rem;
}

.stripeSubmenusApp .sidebar-sublinks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 0.25rem;
}

.stripeSubmenusApp .sidebar-sublinks a {
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stripeSubmenusApp .sidebar-sublinks svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}

@media screen and (min-width: 800px) {
  .stripeSubmenusApp .sidebar-wrapper {
    display: none;
  }
}

.stripeSubmenusApp .submenu {
  background: var(--clr-white);
  -webkit-box-shadow: var(--dark-shadow);
          box-shadow: var(--dark-shadow);
  position: absolute;
  top: 8rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
  display: none;
  padding: 2rem;
  border-radius: var(--radius);
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.stripeSubmenusApp .submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.stripeSubmenusApp .submenu.show {
  display: block;
}

.stripeSubmenusApp .submenu-center {
  display: -ms-grid;
  display: grid;
  gap: 0.25rem 2rem;
}

.stripeSubmenusApp .col-2 {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.stripeSubmenusApp .col-3 {
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.stripeSubmenusApp .col-4 {
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.stripeSubmenusApp .submenu h4 {
  margin-bottom: 1.5rem;
}

.stripeSubmenusApp .submenu-center a {
  width: 10rem;
  display: block;
  color: var(--clr-grey-1);
  text-transform: capitalize;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.stripeSubmenusApp .submenu-center svg {
  color: var(--clr-grey-5);
  margin-right: 1rem;
}
/*# sourceMappingURL=StripeSubmenusApp.css.map */