.toursApp {
  background: hsl(210, 36%, 96%);
  background: linear-gradient(
    90deg,
    rgba(68, 100, 105, 0.8),
    rgba(228, 184, 102, 0.8),
    rgba(49, 88, 95, 0.8)
  );
  color: hsl(209, 61%, 16%);
  padding: 5rem 0;
  min-height: 100vh;
  overflow-x: hidden;

  p {
    margin-bottom: 1.25rem;
    color: hsl(210, 22%, 49%);
  }

  /* section */
  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }

  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  .btn {
    background: hsl(205, 78%, 60%);
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
    color: #fff;
    letter-spacing: 0.1rem;
    border-color: transparent;
    cursor: pointer;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  /*
  =============== 
  Tours
  ===============
  */
  main {
    width: 90vw;
    max-width: 620px;
    margin: 0rem auto;
  }
  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .loader {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #069;
    border-bottom-color: #069;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: rotate 2s linear infinite;
    & span {
      display: inline-block;
      width: 15px;
      height: 15px;
      margin: 0.5rem;
      border-radius: 50%;
      background: rgb(6, 44, 63);
    }
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .title {
    text-align: center;
    margin-bottom: 4rem;
  }
  .underline {
    width: 8rem;
    height: 0.25rem;
    background: hsl(205, 78%, 60%);
    margin-left: auto;
    margin-right: auto;
  }

  .single-tour {
    background: #fff;

    border-radius: 0.25rem;
    margin: 2rem 0;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s linear;
  }
  .single-tour:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
  .single-tour img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
  }
  .tour-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }
  .tour-info h4 {
    margin-bottom: 0;
  }
  .single-tour button {
    background: transparent;
    border-color: transparent;
    text-transform: capitalize;
    color: hsl(205, 78%, 60%);
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    letter-spacing: 0.1rem;
    padding-left: 0.25rem;
  }
  .tour-price {
    color: hsl(327, 75%, 30%);
    background: hsl(205, 100%, 96%);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
  .single-tour footer {
    padding: 1.5rem 2rem;
  }
  .single-tour .delete-btn {
    display: block;
    width: 200px;
    margin: 1rem auto 0 auto;
    color: hsl(360, 67%, 44%);
    letter-spacing: 0.1rem;
    background: transparent;
    border: 1px solid hsl(360, 67%, 44%);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
  }
}
