.sliderApp {
  background: hsl(210, 36%, 96%);
  background: linear-gradient(
    0deg,
    transparent,
    rgba(255, 165, 0, 1),
    rgb(14, 69, 121)
  );
  color: hsl(209, 61%, 16%);
  padding: 3rem 0;
  min-height: calc(100vh - 75px);
  p {
    margin-bottom: 1.25rem;
    color: hsl(210, 22%, 49%);
  }

  /* section */
  .section {
    padding: 2rem;
    width: 90vw;
    margin: 0rem auto;
    max-width: 1170px;
    background: hsl(210, 36%, 96%);
    background: linear-gradient(
      180deg,
      transparent,
      rgba(255, 165, 0, 1),
      rgb(14, 69, 121)
    );
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      top: 5%;
      right: 5%;
      width: 300px;
      height: 200px;
      border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      background: rgba(107, 6, 68, 0.5);
      z-index: -5;
    }
  }

  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }
  /*
  =============== 
  Slider
  ===============
  */
  .title {
    text-align: center;
    margin-bottom: 2rem;
  }
  .title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: hsl(209, 58%, 29%);
  }
  .title span {
    font-size: 0.85em;
    color: hsl(209, 79%, 22%);
    margin-right: 1rem;
    font-weight: 700;
  }
  .section-center {
    margin: 0 auto;
    margin-top: 2rem;
    width: 80vw;
    height: 450px;
    max-width: 800px;
    position: relative;
    display: flex;
    text-align: center;
    background: rgb(97, 88, 88);
    background: linear-gradient(
      90deg,
      transparent,
      rgb(14, 69, 121),
      transparent
    );
    overflow: hidden;

    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      top: 0%;
      right: 0%;
      width: 150px;
      height: 100px;
      border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      background: linear-gradient(0deg, rgba(255, 165, 0, 0.5), transparent);

      z-index: -5;
    }
    &::after {
      position: absolute;
      content: "";
      top: 8%;
      left: 0%;
      width: 400px;
      height: 300px;
      border-radius: 88% 12% 25% 75% / 48% 48% 52% 52%;
      background: rgba(16, 6, 107, 0.2);
      z-index: -5;
    }
  }
  .person-img {
    border-radius: 50%;
    margin: 1rem 0;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid hsl(210, 31%, 80%);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  }
  article h4 {
    text-transform: uppercase;
    color: hsl(209, 44%, 86%);
    margin-bottom: 0.25rem;
  }
  .title {
    text-transform: capitalize;
    margin-bottom: 0.75rem;
    color: hsl(210, 39%, 61%);
  }
  .text {
    max-width: 35rem;
    margin: 0 auto;
    margin-top: 2rem;
    line-height: 2;
    color: hsl(212, 17%, 78%);
  }
  .icon {
    font-size: 3rem;
    margin-top: 1rem;
    color: orange;
  }
  .prev,
  .next {
    position: absolute;
    top: 200px;
    transform: translateY(-50%);
    background: hsl(209, 51%, 37%);
    color: #fff;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background 0.3s linear;
    outline: none;
  }
  .prev:hover,
  .next:hover {
    background: hsl(209, 67%, 26%);
  }
  .prev {
    left: 0;
  }
  .next {
    right: 0;
  }
  @media (min-width: 800px) {
    .text {
      max-width: 45em;
    }
    .prev,
    .next {
      width: 2rem;
      height: 2rem;
      font-size: 1.5rem;
    }
  }
  article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: background 0.3s linear;
  }
  article.activeSlide {
    opacity: 1;
    transform: translateX(0);
  }
  article.lastSlide {
    transform: translateX(-100%);
  }
  article.nextSlide {
    transform: translateX(100%);
  }
}
