.menuApp {
  background: #eee;
  color: #102a42;
  padding: 2rem 0;
  /* section */
  /*
  =============== 
  Menu
  ===============
  */
}

.menuApp p {
  margin-bottom: 1.25rem;
  color: #617d98;
}

.menuApp .section {
  width: 90vw;
  margin: 0 auto;
  max-width: 1920px;
}

@media screen and (min-width: 992px) {
  .menuApp .section {
    width: 95vw;
  }
}

.menuApp .menu {
  padding: 2rem 0;
  background: #fff;
  -webkit-box-shadow: 0 0 3px black;
          box-shadow: 0 0 3px black;
  border-radius: 0.5rem;
  overflow: hidden;
}

.menuApp .title {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  text-shadow: 0 0 3px #073953;
}

.menuApp .icon {
  font-size: 1.2rem;
  color: #069;
}

.menuApp .underline {
  width: 6rem;
  height: 2px;
  background: #fff;
  -webkit-box-shadow: 0 1px 1px #062f46;
          box-shadow: 0 1px 1px #062f46;
  margin: 0 auto;
}

.menuApp .btn-container {
  margin: 0 auto;
  margin-bottom: 2rem;
  padding: 0.3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #069;
  -webkit-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
}

.menuApp .filter-btn {
  background: transparent;
  border: 1px solid orange;
  font-size: 0.9rem;
  text-transform: capitalize;
  margin: 0 0.3rem;
  letter-spacing: 0.5px;
  padding: 0.375rem 0.5rem;
  color: orange;
  cursor: pointer;
  -webkit-transition: background color 0.5s linear;
  transition: background color 0.5s linear;
  border-radius: 0.25rem;
  outline: none;
}

.menuApp .filter-btn:hover {
  background: orange;
  color: #fff;
}

.menuApp .active {
  background: orange;
  color: #fff;
}

.menuApp .section-center {
  width: 85vw;
  margin: 0 auto;
  max-width: 1750px;
  display: -ms-grid;
  display: grid;
  gap: 3rem;
  justify-items: center;
  background: #069;
  -webkit-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
  padding: 2rem 0;
  border-radius: 0.5rem;
}

.menuApp .menu-item {
  border-radius: 0.3rem;
  padding: 0.8rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem 2rem;
  max-width: 25rem;
  background: #fff;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
  background: linear-gradient(0deg, transparent, #fff);
  position: relative;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
  -webkit-transition: background 0.5s linear;
  transition: background 0.5s linear;
}

.menuApp .menu-item:hover {
  background: #fff;
  -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.51);
          box-shadow: 0 5px 5px rgba(0, 0, 0, 0.51);
}

.menuApp .menu-item:hover .photo {
  -webkit-box-shadow: 0 0 5px black;
          box-shadow: 0 0 5px black;
}

.menuApp .photo {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
  width: 100%;
  border-radius: 0 1.25rem;
  display: block;
}

.menuApp .item-info header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px dotted #03182b;
}

.menuApp .item-info h4 {
  margin-bottom: 0.5rem;
}

.menuApp .price {
  color: #c59d5f;
}

.menuApp .item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  color: #069;
}

@media screen and (min-width: 768px) {
  .menuApp .menu-item {
    -ms-grid-columns: 225px 1fr;
        grid-template-columns: 225px 1fr;
    gap: 0 1.25rem;
    max-width: 40rem;
  }
  .menuApp .photo {
    height: 175px;
  }
  .menuApp .btn-container {
    margin-bottom: 2rem;
    padding: 0.3rem 0;
  }
  .menuApp .filter-btn {
    border: 2px solid orange;
    font-size: 1rem;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    padding: 0.375rem 0.75rem;
    border-radius: 0.25rem;
  }
}

@media screen and (min-width: 1200px) {
  .menuApp .section-center {
    width: 80vw;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
  .menuApp .photo {
    height: 150px;
  }
}
/*# sourceMappingURL=MenuApp.css.map */