.tabsApp {
  background: #f1f5f8;
  color: #0d3a63;
  min-height: 100vh;
  /* section */
  /*
  =============== 
  Jobs
  ===============
  */
}

.tabsApp .section {
  width: 100%;
  margin: 0rem auto;
  padding: 2rem 0.5rem;
  max-width: 1900px;
  border-radius: 0.5rem;
  background: white;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgba(246, 158, 15, 0.1)), color-stop(48%, #f69e0f), to(#0c7385));
  background: linear-gradient(0deg, rgba(246, 158, 15, 0.1) 0, #f69e0f 48%, #0c7385 100%);
  overflow: hidden;
}

.tabsApp .loading {
  min-height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tabsApp .loading .spinner-1 {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  -webkit-animation: spinner-1 3s linear infinite;
          animation: spinner-1 3s linear infinite;
  position: relative;
}

.tabsApp .loading .spinner-1::before {
  position: absolute;
  content: "";
  top: 10px;
  right: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: maroon;
}

.tabsApp .loading .spinner-1::after {
  position: absolute;
  content: "";
  bottom: 10px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: maroon;
}

.tabsApp .loading .spinner-2 {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: orange;
}

@-webkit-keyframes spinner-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes spinner-1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.tabsApp .underline {
  width: 4rem;
  height: 0rem;
  margin-bottom: 1.25rem;
  border: 0.25rem dashed orange;
  margin: 0 auto;
}

.tabsApp .title {
  margin-bottom: 3rem;
  color: #102a42;
  text-align: center;
}

.tabsApp .jobs-center {
  width: 95vw;
  margin: 0 auto;
  max-width: 1170px;
  background: white;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(48%, #f69e0f), to(#0c7385));
  background: linear-gradient(180deg, transparent, #f69e0f 48%, #0c7385 100%);
  padding: 2rem 1rem;
  position: relative;
  z-index: 1;
}

.tabsApp .jobs-center::before {
  position: absolute;
  content: "";
  top: -20%;
  right: 1%;
  width: 300px;
  height: 200px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: rgba(107, 6, 68, 0.5);
  z-index: -5;
}

.tabsApp .jobs-center::after {
  position: absolute;
  content: "";
  top: 8%;
  left: 0%;
  width: 400px;
  height: 300px;
  border-radius: 88% 12% 25% 75% / 48% 48% 52% 52%;
  background: rgba(16, 6, 107, 0.2);
  z-index: -5;
}

.tabsApp .btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 2rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: transparent;
}

.tabsApp .job-btn {
  background: transparent;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin: 0 0.2rem;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  line-height: 1;
  border-radius: 0.2rem;
  border: 1px solid rgba(114, 9, 79, 0.8);
  color: rgba(114, 9, 79, 0.8);
}

.tabsApp .job-btn:hover {
  color: #fff;
  background: rgba(114, 9, 79, 0.8);
}

.tabsApp .active-btn {
  color: #ccc;
  background: rgba(114, 9, 79, 0.8);
  -webkit-box-shadow: 0 2px #eee;
          box-shadow: 0 2px #eee;
}

.tabsApp .job-info {
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-transition: -webkit-box-shadow 0.5s linear;
  transition: -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, -webkit-box-shadow 0.5s linear;
  -webkit-box-shadow: 0 0 2px #6b0644;
          box-shadow: 0 0 2px #6b0644;
  position: relative;
  overflow: hidden;
  z-index: 10;
}

.tabsApp .job-info:hover {
  -webkit-box-shadow: 0 0 8px #fff;
          box-shadow: 0 0 8px #fff;
}

.tabsApp .job-info::before {
  position: absolute;
  content: "";
  top: 5%;
  left: 20%;
  width: 250px;
  height: 180px;
  border-radius: 23% 77% 73% 27% / 77% 19% 81% 23%;
  background: rgba(107, 6, 68, 0.4);
  z-index: -1;
}

.tabsApp .job-info::after {
  position: absolute;
  content: "";
  bottom: 5%;
  right: 5%;
  width: 300px;
  height: 200px;
  border-radius: 22% 78% 33% 67% / 90% 32% 68% 10%;
  background: rgba(107, 6, 68, 0.3);
  z-index: -1;
}

.tabsApp .job-info h3 {
  font-weight: 500;
  font-size: 1.18rem;
}

.tabsApp .job-info h4 {
  text-transform: uppercase;
  color: #113c64;
  background: transparent;
  -webkit-box-shadow: 0 0 3px #fff;
          box-shadow: 0 0 3px #fff;
  display: inline-block;
  padding: 0.375rem 0.75rem;
  border-radius: 0.25rem;
}

.tabsApp .job-date {
  letter-spacing: 0.1rem;
  color: #0a2f52;
}

.tabsApp .job-desc {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr;
      grid-template-columns: auto 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.25rem;
}

.tabsApp .job-desc p {
  margin-bottom: 0;
  color: #026;
}

.tabsApp .job-icon {
  color: #520c55;
}

@media screen and (min-width: 992px) {
  .tabsApp .section {
    padding: 2rem;
  }
  .tabsApp .jobs-center {
    width: 90vw;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 200px 1fr;
        grid-template-columns: 200px 1fr;
    -webkit-column-gap: 4rem;
            column-gap: 4rem;
    padding: 2rem;
  }
  .tabsApp .btn-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .tabsApp .job-btn {
    margin-bottom: 1rem;
    font-size: 1.25rem;
  }
  .tabsApp .active-btn {
    -webkit-box-shadow: -2px 0 #eee;
            box-shadow: -2px 0 #eee;
  }
  .tabsApp .job-info h3 {
    font-weight: 600;
    font-size: 2rem;
  }
}
/*# sourceMappingURL=TabsApp.css.map */