.navbarApp {
  background: rgba(255, 165, 0, 0.5);
  color: #102a42;
  min-height: calc(100vh - 120px);
  margin: 0 auto;
  max-width: 1920px;
}

.navbarApp nav {
  background: #fff;
  height: 80px;
  padding: 0 30px;
  position: relative;
}

.navbarApp .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
  z-index: 100;
}

.navbarApp .nav-toggle {
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 1.8rem;
  outline: none;
  padding: 3px;
  background: rgba(17, 17, 17, 0.1);
  border: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 1px #111;
          box-shadow: 0px 0px 1px #111;
  -webkit-transition: -webkit-box-shadow 0.5s linear;
  transition: -webkit-box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear;
  transition: box-shadow 0.5s linear, -webkit-box-shadow 0.5s linear;
}

.navbarApp .nav-toggle .open {
  color: #072d4b;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.navbarApp .nav-toggle .close {
  color: maroon;
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.navbarApp .nav-toggle:hover {
  -webkit-box-shadow: 0px 0px 3px #111;
          box-shadow: 0px 0px 3px #111;
}

.navbarApp .nav-toggle:hover .open,
.navbarApp .nav-toggle:hover .close {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.navbarApp .logo {
  height: 50px;
}

.navbarApp .links-container {
  position: absolute;
  top: 80px;
  left: 0;
  min-height: calc(100vh - 275px);
  width: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
  -webkit-transform-origin: top left;
          transform-origin: top left;
  background: rgba(0, 0, 0, 0.8);
  z-index: 100;
}

.navbarApp .show-links-container {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.navbarApp .links {
  padding: 0.1rem 0;
}

.navbarApp .links li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 2px 0;
  background: #ddd;
  color: #0e3261;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  padding: 5px 15px;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  -webkit-transition: color 0.5s linear, background 0.5s, border 0.5s;
  transition: color 0.5s linear, background 0.5s, border 0.5s;
}

.navbarApp .links li a:hover {
  color: #fff;
  background: #0e3261;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.navbarApp .home {
  min-height: calc(100vh - 275px);
  background: #791a3e;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#791a3e));
  background: linear-gradient(0deg, transparent, #791a3e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.navbarApp .content-container {
  width: 90vw;
  max-width: 500px;
  height: 300px;
  border-radius: 0.25rem;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#fff));
  background: linear-gradient(0deg, transparent, #fff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  z-index: 1;
}

.navbarApp .content-container h1 {
  font-size: 3rem;
  color: #ddd;
  text-shadow: 0 0 3px #111;
}

.navbarApp .content-container h3 {
  color: #ddd;
  text-shadow: 0 0 3px #111;
}

.navbarApp .content-container .links-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarApp .content-container a {
  padding: 8px 16px;
  background: rgba(0, 102, 153, 0.6);
  color: #ddd;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  margin-right: 8px;
  -webkit-transition: color 0.5s, background 0.5s;
  transition: color 0.5s, background 0.5s;
}

.navbarApp .content-container a:hover {
  background: rgba(13, 54, 75, 0.9);
  color: #fff;
}

.navbarApp .content-container::before {
  position: absolute;
  content: "";
  top: 10%;
  right: 10%;
  width: 200px;
  height: 150px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(98, 0, 255, 0.5)), to(transparent));
  background: linear-gradient(0deg, rgba(98, 0, 255, 0.5), transparent);
  z-index: -1;
}

.navbarApp .content-container::after {
  position: absolute;
  content: "";
  top: 2rem;
  left: 10%;
  width: 300px;
  height: 250px;
  border-radius: 40% 60% 6% 94% / 51% 42% 58% 49%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(240, 227, 51, 0.2)), color-stop(rgba(185, 24, 78, 0.5)), to(transparent));
  background: linear-gradient(180deg, rgba(240, 227, 51, 0.2), rgba(185, 24, 78, 0.5), transparent);
  z-index: -1;
}

.navbarApp .videos {
  min-height: calc(100vh - 275px);
  background: #311369;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#791a3e));
  background: linear-gradient(0deg, transparent, #791a3e);
  overflow: hidden;
}

.navbarApp .projects {
  min-height: calc(100vh - 275px);
  background: #791a3e;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#791a3e));
  background: linear-gradient(0deg, transparent, #791a3e);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.navbarApp .footer {
  background: #cecece;
  background: linear-gradient(45deg, #111111, #cecece, #111111);
  height: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbarApp .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbarApp .social-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 20%;
  margin: 8px;
  background: #184f77;
  -webkit-box-shadow: 0 0 3px #111;
          box-shadow: 0 0 3px #111;
  -webkit-transition: background 0.3s, -webkit-box-shadow 0.3s linear;
  transition: background 0.3s, -webkit-box-shadow 0.3s linear;
  transition: background 0.3s, box-shadow 0.3s linear;
  transition: background 0.3s, box-shadow 0.3s linear, -webkit-box-shadow 0.3s linear;
}

.navbarApp .social-icon a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.3rem;
  color: #ddd;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.navbarApp .social-icon:hover {
  background: maroon;
  -webkit-box-shadow: 1px 1px 5px #111;
          box-shadow: 1px 1px 5px #111;
}

.navbarApp .social-icon:hover a {
  color: #fff;
}

@media screen and (min-width: 800px) {
  .navbarApp .nav-center {
    max-width: 1170px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 16px;
  }
  .navbarApp .nav-header {
    padding: 0;
  }
  .navbarApp .nav-toggle {
    display: none;
  }
  .navbarApp .links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: initial;
    min-height: 0;
    height: 45px;
    width: 400px;
    -webkit-transform: scale(1);
            transform: scale(1);
    background: transparent;
  }
  .navbarApp .links {
    padding: 8px;
  }
  .navbarApp .links li {
    margin-left: 12px;
    display: inline-block;
    -webkit-box-shadow: 0 0 0px #111;
            box-shadow: 0 0 0px #111;
    background: transparent;
    border-radius: 0.25rem;
    padding: 0;
    -webkit-transition: -webkit-box-shadow 0.3s ease-out;
    transition: -webkit-box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  }
  .navbarApp .links li a {
    margin: 0;
    display: inline-block;
    background: transparent;
    padding: 5px 15px;
    color: #324d67;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    -webkit-transition: color 0.5s linear;
    transition: color 0.5s linear;
    border: 1px solid #0e3261;
    border-radius: 0.25rem;
    -webkit-transition: color 0.4s ease-in-out, background 0.5s linear;
    transition: color 0.4s ease-in-out, background 0.5s linear;
  }
  .navbarApp .links li a:hover {
    color: #fff;
    border: 1px solid #0e3261;
    background: #0e3261;
  }
  .navbarApp .links li:hover {
    -webkit-box-shadow: 0 0 4px #111;
            box-shadow: 0 0 4px #111;
    border-radius: 0.25rem;
  }
}
/*# sourceMappingURL=NavbarApp.css.map */