.navbarApp {
  background: rgba(255, 165, 0, 0.5);
  color: hsl(209, 61%, 16%);
  min-height: calc(100vh - 75px);

  /* section */
  .section {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
  }

  @media screen and (min-width: 992px) {
    .section {
      width: 95vw;
    }
  }

  /*
  =============== 
  Navbar
  ===============
  */
  nav {
    background: #fff;
    height: 80px;
    // width: 100%;
    padding: 0 2rem;
    position: relative;
  }
  .nav-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    z-index: 100;
  }
  .nav-toggle {
    display: grid;
    place-items: center;
    font-size: 1.8rem;
    outline: none;
    padding: 0.2rem;
    background: rgba(17, 17, 17, 0.1);
    border: none;
    cursor: pointer;
    box-shadow: 0px 0px 1px #111;
    transition: box-shadow 0.5s linear;

    & .open {
      color: hsl(206, 83%, 16%);
      transition: transform 0.5s linear;
    }
    & .close {
      color: maroon;
      transition: transform 0.5s linear;
    }
  }
  .nav-toggle:hover {
    box-shadow: 0px 0px 3px #111;
    & .open,
    & .close {
      transform: rotate(360deg);
    }
  }
  .logo {
    height: 50px;
  }

  .links-container {
    position: absolute;
    top: 80px;
    left: 0;
    min-height: calc(100vh - 230px);
    width: 100%;
    transform: scale(0);
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    transform-origin: top left;
    background: rgba(0, 0, 0, 0.8);
    z-index: 100;
  }
  .show-links-container {
    transform: scale(1);
  }

  .links {
    padding: 0.1rem 0;
    & li a {
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: 0.1rem 0;
      background: #ddd;
      color: rgb(14, 50, 97);
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      padding: 0.3rem 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 0.1rem;
      transition: color 0.5s linear, background 0.5s, border 0.5s;
      &:hover {
        color: #fff;
        background: rgb(14, 50, 97);
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
      }
    }
  }

  .home {
    min-height: calc(100vh - 230px);
    background: rgb(121, 26, 62);
    background: linear-gradient(0deg, transparent, rgb(121, 26, 62));
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
  }

  .content-container {
    width: 90vw;
    max-width: 500px;
    height: 300px;
    border-radius: 0.25rem;
    background: linear-gradient(0deg, transparent, #fff);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    h1,
    h3 {
      color: #ddd;
      text-shadow: 0 0 3px #111;
    }
    & .links-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & a {
      padding: 0.5rem 1rem;
      background: rgba(0, 102, 153, 0.6);
      color: #ddd;
      letter-spacing: 0.1rem;
      border-radius: 0.25rem;
      margin-right: 0.5rem;
      transition: color 0.5s, background 0.5s;
      &:hover {
        background: rgba(13, 54, 75, 0.9);
        color: #fff;
      }
    }
    position: relative;
    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      top: 10%;
      right: 10%;
      width: 200px;
      height: 150px;
      border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      background: linear-gradient(0deg, rgba(98, 0, 255, 0.5), transparent);
      z-index: -1;
    }
    &::after {
      position: absolute;
      content: "";
      top: 2rem;
      left: 10%;
      width: 300px;
      height: 250px;
      border-radius: 40% 60% 6% 94% / 51% 42% 58% 49%;
      background: linear-gradient(
        180deg,
        rgba(240, 227, 51, 0.2),
        rgba(185, 24, 78, 0.5),
        transparent
      );
      z-index: -1;
    }
  }

  .videos {
    min-height: calc(100vh - 230px);
    background: rgb(49, 19, 105);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, transparent, rgb(121, 26, 62));
    overflow: hidden;
  }
  .projects {
    min-height: calc(100vh - 230px);
    background: rgb(121, 26, 62);
    background: linear-gradient(0deg, transparent, rgb(121, 26, 62));
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .footer {
    background: #cecece;
    background: linear-gradient(
      45deg,
      rgba(17, 17, 17, 1),
      #cecece,
      rgba(17, 17, 17, 1)
    );
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .social-icons {
    display: flex;
  }

  .social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin: 0.5rem;
    background: hsl(205, 66%, 28%);
    box-shadow: 0 0 3px #111;
    transition: background 0.3s, box-shadow 0.3s linear;
    & a {
      font-size: 1.2rem;
      color: #ddd;
      transition: color 0.3s linear;
    }
    &:hover {
      background: maroon;
      box-shadow: 1px 1px 5px #111;
      & a {
        color: #fff;
      }
    }
  }

  @media screen and (min-width: 800px) {
    .nav-center {
      max-width: 1170px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
    }
    .nav-header {
      padding: 0;
    }
    .nav-toggle {
      display: none;
    }

    .links-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      position: initial;
      min-height: 0;
      height: 45px;
      width: 400px;
      transform: scale(1);
      background: transparent;
    }
    .links {
      padding: 0.5rem;

      & li {
        margin-left: 0.8rem;
        display: inline-block;
        box-shadow: 0 0 0px #111;
        background: transparent;
        border-radius: 0.25rem;
        padding: 0;
        transition: box-shadow 0.3s ease-out;

        & a {
          margin: 0;
          display: inline-block;
          background: transparent;
          padding: 0.3rem 1rem;
          color: hsl(209, 34%, 30%);
          font-size: 1rem;
          text-transform: uppercase;
          letter-spacing: 0.1rem;
          transition: color 0.5s linear;
          border: 1px solid rgb(14, 50, 97);
          border-radius: 0.25rem;
          transition: color 0.4s ease-in-out, background 0.5s linear;

          &:hover {
            color: #fff;
            border: 1px solid rgb(14, 50, 97);
            background: rgb(14, 50, 97);
          }
        }
        &:hover {
          box-shadow: 0 0 4px #111;
          border-radius: 0.25rem;
        }
      }
    }
  }
}
