.loremIpsumApp {
  background: hsl(210, 36%, 96%);
  background: linear-gradient(0deg, rgb(0, 102, 153), rgba(255, 165, 0, 0.5));
  color: hsl(209, 61%, 16%);
  min-height: calc(100vh - 120px);
  padding: 50px 0;
  overflow: hidden;

  .btn {
    text-transform: uppercase;
    padding: 8px;
    letter-spacing: 0.08rem;
    display: inline-block;
    font-size: 0.7rem;
    cursor: pointer;
    border-radius: 0.25rem;
    border: none;

    background: hsl(205, 86%, 17%);
    color: #ddd;
    box-shadow: -2px 0px 0px #ddd, 2px 0px 0px #ddd;
    transition: color, background, border-color, 0.3s linear;
  }
  .btn:hover {
    background: rgb(83, 6, 60);
    color: #fff;
    box-shadow: -2px 0px 0px #fff, 2px 0px 0px #fff;
  }

  .section-center {
    min-height: 400px;
    width: 90vw;
    padding: 30px;
    margin: 0 auto;
    max-width: 900px;
    text-align: center;
    background: rgb(26, 107, 139);
    background: linear-gradient(
      0deg,
      transparent,
      rgba(255, 165, 0, 0.5),
      rgba(26, 107, 139, 1)
    );

    overflow: hidden;
    position: relative;

    z-index: 1;
    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 150px;
      height: 100px;
      border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
      background: linear-gradient(0deg, rgba(255, 165, 0, 0.5), transparent);

      z-index: -5;
    }
    &::after {
      position: absolute;
      content: "";
      top: 50px;
      left: 0;
      width: 400px;
      height: 300px;
      border-radius: 88% 12% 25% 75% / 48% 48% 52% 52%;
      background: rgba(16, 6, 107, 0.2);
      z-index: -5;
    }
  }

  @media screen and (min-width: 992px) {
    .section-center {
      width: 95vw;
    }
  }

  /*
  =============== 
  Lorem Ipsum
  ===============
  */
  h2 {
    text-transform: uppercase;
    color: hsl(205, 86%, 17%);
    font-family: "bauhaus 93", sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
  }

  .lorem-form {
    text-transform: capitalize;
    letter-spacing: 0.1rem;
    margin-top: 30px;
    margin-bottom: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 2px #aaa, 0 3px 0 rgb(66, 8, 8);
    padding: 12px 16px;
  }
  label {
    font-size: 1rem;
    color: hsl(205, 86%, 17%);
  }
  input {
    padding: 5px 10px;
    width: 2.8rem;
    border-radius: 0.25rem;
    border: none;
    margin: 0 8px 0 3px;
    font-size: 1rem;
    border: 1.5px solid transparent;
    box-shadow: 0 0 5px transparent;
    outline: none;
  }

  .error {
    border: 1.5px solid maroon;
    box-shadow: 0 0 5px red;
  }

  button {
    background: hsl(205, 100%, 96%);
  }
  .result {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 750px) {
    h2 {
      font-size: 2rem;
    }
    .btn {
      padding: 8px 12px;
      letter-spacing: 0.15rem;
      font-size: 0.875rem;
      border-radius: 0.25rem;
    }
    label {
      font-size: 1.25rem;
    }
    input {
      padding: 0.25rem 0.5rem;
      width: 4rem;
      margin: 0 16px 0 4px;
      font-size: 1.25rem;
    }
  }
}

.lorem-text {
  p {
    margin-bottom: 25px;
    color: hsl(292, 58%, 13%);
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 2px #111;
    padding: 16px;
    text-align: justify;
    position: relative;
    transition: box-shadow, color, background 0.3s linear;
    border-radius: 0.5rem;
    & .badge {
      display: inline-block;
      position: absolute;
      top: -15px;
      left: -15px;
      padding: 5px 12px;
      border-radius: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(0, 0, 0, 0.2);
      box-shadow: 0 0 2px #111;
      color: #fff;
      transition: background 0.3s ease;
    }
    &:hover {
      box-shadow: 0 0 5px #111;
      color: hsl(291, 43%, 25%);
      background: rgba(255, 255, 255, 0.5);
      & .badge {
        background: rgba(0, 0, 0, 0.7);
      }
    }
  }
  & .error-img {
    border-radius: 0.25rem;
    width: 200px;
    object-fit: contain;
  }
}
