.loremIpsumApp {
  background: #f1f5f8;
  background: -webkit-gradient(linear, left bottom, left top, from(#006699), to(rgba(255, 165, 0, 0.5)));
  background: linear-gradient(0deg, #006699, rgba(255, 165, 0, 0.5));
  color: #102a42;
  min-height: calc(100vh - 120px);
  padding: 3rem 0;
  overflow: hidden;
  /*
  =============== 
  Lorem Ipsum
  ===============
  */
}

.loremIpsumApp .btn {
  text-transform: uppercase;
  padding: 0.5rem;
  letter-spacing: 0.08rem;
  display: inline-block;
  font-size: 0.7rem;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  background: #063251;
  color: #ddd;
  -webkit-box-shadow: -2px 0px 0px #ddd, 2px 0px 0px #ddd;
          box-shadow: -2px 0px 0px #ddd, 2px 0px 0px #ddd;
  -webkit-transition: color, background, border-color, 0.3s linear;
  transition: color, background, border-color, 0.3s linear;
}

.loremIpsumApp .btn:hover {
  background: #53063c;
  color: #fff;
  -webkit-box-shadow: -2px 0px 0px #fff, 2px 0px 0px #fff;
          box-shadow: -2px 0px 0px #fff, 2px 0px 0px #fff;
}

.loremIpsumApp .section-center {
  min-height: 400px;
  width: 90vw;
  padding: 2rem;
  margin: 0 auto;
  max-width: 45rem;
  text-align: center;
  background: #1a6b8b;
  background: -webkit-gradient(linear, left bottom, left top, from(transparent), color-stop(rgba(255, 165, 0, 0.5)), to(#1a6b8b));
  background: linear-gradient(0deg, transparent, rgba(255, 165, 0, 0.5), #1a6b8b);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.loremIpsumApp .section-center::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  width: 150px;
  height: 100px;
  border-radius: 32% 68% 30% 70% / 74% 7% 93% 26%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 165, 0, 0.5)), to(transparent));
  background: linear-gradient(0deg, rgba(255, 165, 0, 0.5), transparent);
  z-index: -5;
}

.loremIpsumApp .section-center::after {
  position: absolute;
  content: "";
  top: 3rem;
  left: 0;
  width: 400px;
  height: 300px;
  border-radius: 88% 12% 25% 75% / 48% 48% 52% 52%;
  background: rgba(16, 6, 107, 0.2);
  z-index: -5;
}

@media screen and (min-width: 992px) {
  .loremIpsumApp .section-center {
    width: 95vw;
  }
}

.loremIpsumApp h2 {
  text-transform: uppercase;
  color: #063251;
  font-family: "bauhaus 93", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}

.loremIpsumApp .lorem-form {
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2px #aaa, 0 3px 0 #420808;
          box-shadow: 0 0 2px #aaa, 0 3px 0 #420808;
  padding: 0.8rem 1rem;
}

.loremIpsumApp label {
  font-size: 1rem;
  color: #063251;
}

.loremIpsumApp input {
  padding: 0.25rem 0.5rem;
  width: 2.8rem;
  border-radius: 0.25rem;
  border: none;
  margin: 0 0.5rem 0 0.2rem;
  font-size: 1rem;
  border: 1.5px solid transparent;
  -webkit-box-shadow: 0 0 5px transparent;
          box-shadow: 0 0 5px transparent;
  outline: none;
}

.loremIpsumApp .error {
  border: 1.5px solid maroon;
  -webkit-box-shadow: 0 0 5px red;
          box-shadow: 0 0 5px red;
}

.loremIpsumApp button {
  background: #ebf7ff;
}

.loremIpsumApp .result {
  margin-bottom: 2rem;
}

@media screen and (min-width: 750px) {
  .loremIpsumApp h2 {
    font-size: 2rem;
  }
  .loremIpsumApp .btn {
    padding: 0.5rem 0.75rem;
    letter-spacing: 0.15rem;
    font-size: 0.875rem;
    border-radius: 0.25rem;
  }
  .loremIpsumApp label {
    font-size: 1.25rem;
  }
  .loremIpsumApp input {
    padding: 0.25rem 0.5rem;
    width: 4rem;
    margin: 0 1rem 0 0.2rem;
    font-size: 1.25rem;
  }
}

.lorem-text p {
  margin-bottom: 1.5rem;
  color: #2f0e34;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
  padding: 1rem;
  text-align: justify;
  position: relative;
  -webkit-transition: color, background 0.3s linear, -webkit-box-shadow;
  transition: color, background 0.3s linear, -webkit-box-shadow;
  transition: box-shadow, color, background 0.3s linear;
  transition: box-shadow, color, background 0.3s linear, -webkit-box-shadow;
  border-radius: 0.5rem;
}

.lorem-text p .badge {
  display: inline-block;
  position: absolute;
  top: -5%;
  left: -2%;
  padding: 0.2rem 0.7rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 2px #111;
          box-shadow: 0 0 2px #111;
  color: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
}

.lorem-text p:hover {
  -webkit-box-shadow: 0 0 5px #111;
          box-shadow: 0 0 5px #111;
  color: #53245b;
  background: rgba(255, 255, 255, 0.5);
}

.lorem-text p:hover .badge {
  background: rgba(0, 0, 0, 0.7);
}

.lorem-text .error-img {
  border-radius: 0.25rem;
  width: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=LoremIpsumApp.css.map */