.accordianApp {
  background: #ddd;
  color: hsl(209, 61%, 16%);
  p {
    margin-bottom: 1.25rem;
    color: hsl(210, 22%, 49%);
  }
  main {
    min-height: 75vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 3rem 0;
  }

  .container {
    width: 95vw;
    background: #fff;
    background: linear-gradient(45deg, #069, #ccc, maroon);
    border-radius: 0.25rem;
    padding: 3rem 0.3rem;
    max-width: 1200px;
    display: grid;
    gap: 1rem 2rem;
    box-shadow: 0 0 3px rgba(0, 0, 0, 1);
    position: relative;
    overflow: hidden;
  }

  .pushpin-icon {
    position: absolute;
    top: 0;
    left: -1%;
    width: 3rem;
    height: 3rem;
  }
  .container h3 {
    line-height: 1;
    font-weight: 500;
  }

  .question {
    padding: 0.5rem 0.8rem;
    border: 2px solid #eae6eb;
    margin-bottom: 1rem;
    border-radius: 0.25rem;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
    transition: boxShadow 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    overflow: hidden;
    height: 65px;
    &:hover {
      box-shadow: 0 0 5px rgba(255, 255, 255, 1);
    }
    &.open {
      height: 180px;
    }
  }

  .question h4 {
    text-transform: none;
    line-height: 1.5;
  }
  .question p {
    color: hsl(209, 91%, 17%);
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  .question header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .question header h4 {
    margin-bottom: 0;
  }

  .btn {
    // background: transparent;
    background: #eae6eb;
    border-color: transparent;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #e40a4f;
    cursor: pointer;
    margin-left: 1rem;
    align-self: center;
    min-width: 2rem;
    font-size: 1.2rem;
    font-weight: bolder;
    transition: transform ease 0.5s;
    transform: scale(1) rotate(0deg);
    outline: none;
    &:hover {
      transform: scale(1.1) rotate(180deg);
    }
  }
}

@media screen and (min-width: 992px) {
  .accordianApp {
    .container {
      padding: 2.5rem 2rem;
      gap: 1rem 2rem;
      grid-template-columns: 250px 1fr;
    }

    .pushpin-icon {
      top: 0.5%;
      left: 1%;
      width: 3.5rem;
      height: 3.5rem;
    }
    .container h3 {
      line-height: 1.2;
    }

    .question {
      padding: 1rem 1.5rem;
      border: 2px solid #eae6eb;
      margin-bottom: 1rem;
      height: 70px;
      &.open {
        height: 150px;
      }
    }

    .btn {
      width: 2.2rem;
      height: 2.2rem;
    }
  }
}
